<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <link rel="apple-touch-icon" href="{% static 'template/assets/images/favicon_new.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'template/assets/images/favicon_new.png' %}">
    <link rel="manifest" href="{% static 'icons/favicon/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <title>{% include 'main/version.html' %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'template/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'template/main/dark/css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'template/main/dark/css/colors/megna-dark.css' %}" id="theme" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-image:url(/static/template/assets/images/background/login_bg.jpg);position: fixed">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="changepasswordform" action="#" method="PUT">
                    {% csrf_token %}
                    <h3 class="box-title mb-3">Change Password</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Enter Current Password"
                                   name="password" id="old_password"></div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Enter Password"
                                   name="password" id="password_1"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Re Enter Password"
                                   name="password" id="password_2"></div>
                    </div>
                    <div class="text-center mt-3">
                        <div class="col-xs-12">
                            <button href="#"
                                    class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    onclick="check_password()" type="submit">Change password
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'template/assets/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'template/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'template/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'template/main/dark/js/jquery.slimscroll.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> -->

<!--Custom JavaScript -->
<script src="{% static 'template/main/dark/js/custom.min.js' %}"></script>

<script>
    $('form').on('submit', function (event) {
        event.preventDefault();
    })
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    function check_password() {
        var op = $('#old_password').val()
        var p1 = $('#password_1').val()
        var p2 = $('#password_2').val()
        if (p1 === p2) {
            var passw = {}
            passw.new_password = p1
            passw.old_password = op
            const user_json = $.ajax({
                type: "PUT",
                url: "/api/user/password_change/"+{{ user }},
                async: false,
                data: passw,
                headers: {"X-CSRFToken": $crf_token},
                success: function (data, textStatus, xhr) {
                    console.log(xhr.responseText)
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Password Changed Successfully\nRedirecting to login page',
                        timer: 50000,
                    })
                    window.location = "/"
                    {#update_force_password({{ user }})#}
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation: ' + xhr.responseText);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: xhr.responseText,
                    })
                }
            }).responseText;

        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Passwords do not match....',
            })
        }
    }

    function update_force_password(user){
        $.ajax({
                type: "PUT",
                url: "/api/profile/"+user,
                async: false,
                data: {"force_password_change": "False"},
                success: function (data, textStatus, xhr) {
                    console.log("Success")
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation: ' + xhr.responseText);
                }
            }).responseText;
    }
</script>

<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="{% static 'template/assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
</body>

</html>