{% extends 'main/base.html' %}
{% block content %}

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Profile</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="mt-4"><img src="{{ user.employee.photo.url }}"
                                              onerror="this.onerror=null; this.src=''"
                                              alt="" class="img-circle" width="150"/>
                        <p class="text-muted" style="color: white !important;">{{ user.employee }}</p>
                        <p style="color:#eeece1 !important;">{{ user.employee.role}}</p>

                    </center>
                </div>
                <div>
                    <hr>
                </div>
                <div class="card-body"><small class="text-muted" style="color: white !important;">Email address </small>
                    <p style="color:#eeece1 !important;">{{ user.employee.email }}</p>
                    <small class="text-muted p-t-30 db" style="color: white !important;">Phone</small>
                    <p style="color:#eeece1 !important;">{{ user.employee.contact }}</p><small
                            class="text-muted p-t-30 db" style="color: white !important;">Address</small>
                    <p style="color:#eeece1 !important;">{{ user.employee.address }}</p>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item "><a class="nav-link active" data-toggle="tab" href="#profile"
                    >Profile</a></li>
                </ul>
                <!-- Tab panes -->
                <!-- .row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-body">
                            <form class="form-horizontal mt-4">
                                <div class="form-group">
                                    <label style="color: white">Full Name </label>
                                    <input readonly type="text" id="full_name" class="form-control"
                                           value="{{user.employee }}" style="color:#eeece1">
                                </div>

                                <div class="form-group">
                                    <label style="color: white">Email </label>
                                    <input readonly type="email" id="example-email" class="form-control"
                                           value="{{user.employee.email }}" style="color:#eeece1">
                                </div>


                                <div class="form-group">
                                    <label style="color: white">Contact</label>
                                    <input readonly type="text" id="contact" class="form-control"
                                           value="{{user.employee.contact }}" style="color:#eeece1">
                                </div>

                                <div class="form-group">
                                    <label style="color: white">Address</label>
                                    <input readonly type="text" id="address" class="form-control"
                                           value="{{user.employee.address }}" style="color:#eeece1">
                                </div>


                                <div class="form-group">
                                    <label style="color: white"> Employement status</label>
                                    <input readonly class="form-control" id="employement_status"
                                           value="{{user.employee.employement_status}}" style="color:#eeece1">
                                </div>


                                <div class="form-group">
                                    <label style="color: white">Department</label>
                                    <input readonly class="form-control" id="department"
                                           value="{{user.employee.department}}" style="color:#eeece1">
                                </div>


                                <div class="form-group">
                                    <label style="color: white">Role</label>
                                    <input readonly class="form-control" id="role" value="{{user.employee.role}}"
                                           style="color:#eeece1">
                                </div>


                                <div class="form-group">
                                    <label style="color: white">Grade</label>
                                    <input readonly class="form-control" id="grade" value="{{user.employee.grade}}"
                                           style="color:#eeece1">
                                </div>


                                <div class="form-group">
                                    <label style="color: white">Location</label>
                                    <input readonly class="form-control" id="location"
                                           value="{{user.employee.location}}" style="color:#eeece1"></input>
                                </div>


                                <div class="form-group">
                                    <label style="color: white">Team Lead</label>
                                    <input readonly type="text" class="form-control" id="team_lead"
                                           value="{{user.employee.team_lead}}" style="color:#eeece1">
                                </div>


                                <div class="form-group">
                                    <label style="color: white">Supervisor</label>
                                    <input readonly type="text" class="form-control" id="supervisor"
                                           value="{{user.employee.supervisor}}" style="color:#eeece1">
                                </div>
                                <div class="form-group">
                                    <label style="color: white">Api Key</label>
                                    <input readonly type="text" class="form-control" id="token"
                                           value="{{token}}" style="color:#eeece1">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

{% endblock content %}
{% block page_scripts %}
<script>

   $('#ajaxBusy').hide();

</script>
{% endblock page_scripts %}