{% extends 'main/base.html' %}
{% load static %}
{% block bread_crumb %}

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
{% endblock bread_crumb %}


{% block content %}
<div class="error-box" style="background: transparent;">
      <div class="text-center" style="position: relative;top: 50%;transform: translateY(-50%);">
            <h1 class="text-info" style="font-size: 80px;line-height: 120px;">Coming Soon!</h1>
            <h3 class="text-uppercase">Stay Tuned!</h3>
            <p class="text-muted mt-4 mb-4">The site is still in pre-launch. We are actively working on it, So checkback soon!</p>
            <!-- <a href="/profile/" class="btn btn-info btn-rounded waves-effect waves-light mb-5">Go to Profile</a> -->
      </div>
</div>

{% endblock content %}

{% block page_scripts %}
    // Ajax activity indicator bound to ajax start/stop document events
    $('#ajaxBusy').hide();
{% endblock page_scripts %}