{% extends 'main/base.html' %}
{% block bread_crumb %}
    <link href="/static/template/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/static/template/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
{% endblock bread_crumb %}
{% block content %}

    <h3>Hello {{ user.profile.employee.fullName }}</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="max-width: 600px; max-height: 100%">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Status Chart</h4>
                            <div class="ml-auto">
                                <select id="shot_client_select" class="custom-select">
                                    <option value="0">Client</option>
                                    {% for client in clients %}
                                        <option value={{ client.id }}>{{ client.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="ml-auto">
                                <select id="shot_project_select" class="custom-select">
                                    <option value="0">Project</option>
                                    {% for project in projects %}
                                        <option value={{ project.id }}>{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="row mt-4">
                            <canvas id="statChart" style="width:50%;max-width:700px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="max-width: 600px; max-height: 100%">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Bid
                                Chart</h4>
                            <div class="ml-auto">
                                <select id="shot_client_select" class="custom-select">
                                    <option value="0">Client</option>
                                    {% for client in clients %}
                                        <option value={{ client.id }}>{{ client.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="ml-auto">
                                <select id="shot_project_select" class="custom-select">
                                    <option value="0">Project</option>
                                    {% for project in projects %}
                                        <option value={{ project.id }}>{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Row -->
                        <div class="row mt-4">
                            <canvas id="bidChart" style="width:50%;max-width:700px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block page_scripts %}
    <!--OFX Core JavaScript -->
    <script src="/static/ofx/core.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="/static/third_party/ChartJs/Chart.min.js"></script>

    <!-- Date range Plugin JavaScript -->
    <script src="/static/template/assets/plugins/moment/moment.js"></script>
    <script src="/static/template/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/static/template/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

    <!-- OFX Status Chart Javascript -->
    <script src="/static/ofx/status_chart.js"></script>
    <script src="/static/ofx/bid_chart.js"></script>
    <script>

    </script>
{% endblock page_scripts %}