aioredis==1.3.1
altgraph==0.17
asgiref==3.2.7
async-timeout==3.0.1
attrs==20.1.0
autobahn==20.7.1
Automat==20.2.0
certifi==2020.4.5.1
cffi==1.14.2
channels==2.4.0
channels-redis==3.0.1
chardet==3.0.4
constantly==15.1.0
cryptography==3.0
daphne==2.5.0
Django==3.0.4
django-appconf==1.0.4
django-auth-ldap==2.2.0
django-colorfield==0.2.1
django-cors-headers==3.2.1
django-db-logger==0.1.10
django-debug-toolbar==2.2
django-filter==2.1.0
django-imagekit==4.0.2
django-log-viewer==1.1.2
django-model-utils==3.1.2
djangorestframework==3.11.0
future==0.18.2
hiredis==1.1.0
hyperlink==20.0.1
idna==2.8
incremental==17.5.0
msgpack==1.0.0
mysqlclient==2.0.3
pefile==2019.4.18
pilkit==2.0
Pillow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyinstaller-hooks-contrib==2020.10
pyOpenSSL==19.1.0
python-decouple==3.3
python-memcached==1.59
pytz==2020.1
redis==3.5.3
requests==2.21.0
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.24.3
zope.interface==5.1.0
drf-api-logger==1.0.6
