<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/template/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
{#<script src="/static/template/assets/plugins/bootstrap/js/popper.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
<script src="/static/template/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/static/template/main/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/static/template/main/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/template/main/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/static/template/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/static/template/main/js/custom.min.js"></script>
<script src="/static/template/main/js/validation.js"></script>
<!--OFX Core JavaScript -->
<script src="/static/ofx/core.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="/static/template/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
