{% extends 'main/base.html' %}
{% load static %}
{% block bread_crumb %}
<link rel='stylesheet' href="{% static 'template/assets/plugins/multiselect/css/multi-select.css' %}"
      type="text/css"/>
<link rel="stylesheet"
      href="{% static 'template/assets/plugins/toast-master/css/jquery.toast.css' %}" type="text/css"/>
<style>
    input[type="text"], textarea, select {

        color: #e3dada !important;
    }

    .modal label {
        color: #b0afaf;
    }
</style>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
{% endblock bread_crumb %}

{% block content %}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Employee List</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Employee</li>
            </ol>
        </div>
        <div class="col-md-6 text-right pt-1">
            <button class="btn btn-info" id="add_emp_btn"><i class="mdi mdi-plus-circle"></i>Add Employee</button>
            <select class="btn btn-info departments-main" name="departments"></select>
            <!-- <div class="btn-group " role="group" aria-label="Button group with nested dropdown">
                <div class="input-group-prepend">
                    
                    <!- - <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Select Department
                    </button>
                    <div class="dropdown-menu departments" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform; color: #d0cdcd;">
                    </div> - ->

                </div>
            </div> -->
            <input type="text" class="btn btn-info e-find" id="search_box" placeholder="Search..." style="background: transparent !important; cursor: initial;" value="">
        </div>
        <div class="col-md-6 col-4 align-self-center">

        </div>

    </div>
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- .row -->
    <div class="row employee-cards">
        <!-- .col -->

        <!-- /.col -->
    </div>
    <div id="add_employee_modal" class="modal fade" aria-labelledby="myModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="#" id="emp_form" class="emp-form">
                        <div class="form-body">
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">User Name</label>
                                        <input type="text" id="username"
                                               class="form-control"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Employee Id</label>
                                        <input type="text" id="employee_id"
                                               class="form-control"
                                               placeholder="">
                                    </div>
                                </div>

                            </div> -->
                            <!--/row-->
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Email</label>
                                        <input type="text" id="email"
                                               class="form-control "
                                               placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Full Name</label>
                                        <input type="text" id="fullName"
                                               class="form-control "
                                               placeholder="">
                                    </div>
                                </div>


                            </div> -->

                            <!--/row-->
                            <!-- <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">First Name</label>
                                        <input type="text" id="first_name"
                                               class="form-control "
                                               placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" id="last_name"
                                               class="form-control "
                                               placeholder="">
                                    </div>
                                </div>



                            </div> -->
                            <!--/row-->
                            <!-- <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Contact</label>
                                        <input type="text" id="contact"
                                               class="form-control "
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Address</label>
                                        <input type="text" id="address"
                                               class="form-control "
                                               placeholder="">
                                    </div>
                                </div>


                            </div> -->

                             <!--/row-->
                            <!-- <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Skills</label>
                                        <input type="text" id="skills"
                                               class="form-control "
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Experience</label>
                                        <input type="text" id="experience"
                                               class="form-control "
                                               placeholder="">
                                    </div>
                                </div>


                            </div> -->

                            <!--/row-->
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Department</label>
                                        <select class="form-control custom-select dropdown-toggle dep"
                                                id="department">
                                            <option value="">Select Department</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Role</label>
                                        <select class="form-control custom-select dropdown-toggle roles"
                                                id="role">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                </div>

                            </div> -->

                            <!--/row-->
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Grade</label>
                                        <select class="form-control custom-select dropdown-toggle grades"
                                                id="grade">
                                            <option value="">Select Grade</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Location</label>
                                        <select class="form-control custom-select dropdown-toggle locations"
                                                id="location">
                                            <option value="">Select Location</option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->

                             <!-- <div class="row">
                               <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Employee Status</label>
                                        <select class="form-control custom-select"
                                                class="form-control custom-select"
                                                id="employement_status">
                                            <option value="Active">Active</option>
                                            <option value="Deactive">Deactive</option>
                                        </select>
                                    </div>
                                </div>


                            </div> -->

                            <!-- <div class="form-actions">
                                <button type="button" id="save_btn" class="btn btn-success"
                                        onclick="create_profile()"><i
                                        class="fa fa-check"></i>Save
                                </button>
                                <button type="button" id="update_btn" class="btn btn-success hide"
                                >Update
                                </button>
                                <button type="button" class="btn btn-dark"
                                        onclick="close_employee_modal()">Cancel
                                </button>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}>

{% block page_scripts %}
<!--OFX Core JavaScript -->
<script src="{% static 'ofx/core.js' %}"></script>
<script src="{% static 'template/assets/plugins/popper/popper.min.js' %}"></script>
<script src="{% static 'template/assets/plugins/toast-master/js/jquery.toast.js' %}"></script>


<div class="csrf-ajax-token-self" style="display: none;">{% csrf_token %}</div>
<script>
    var CSRFToken_self = "";
    $('.csrf-ajax-token input').each(function (e) {
        CSRFToken_self = $(this).val();
    });
    var allDepartment = [];
    var clr = {blank: 'black'}
    var departmentOptions = '';
    var roleOptions = '';
    var empBody = $('.employee-cards'), empFrom = $('.emp-form .form-body');
    function renderEmpData(emp_data) {
        var tagId = 'emp-'+makeId(10);
        // data-data='`+JSON.stringify(emp_data)+`'
        $(empBody).append(`<div class="col-md-6 col-lg-6 col-xlg-4 emp-row `+tagId+`" data-find='`+JSON.stringify({name:emp_data['fullName'],eid:emp_data['employee_id'],department:emp_data['department']})+`' data-row="`+emp_data['id']+`">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 text-center edit-emp" data-data=".`+tagId+`" style="padding: 0px;">
                            <a href="#" style="position: relative; width: min-content; height: 100%; display: block; text-align: center;border-radius:5px" ><img src=` + emp_data['photo'] + ` style="width:120px; height:120px; position: relative;top: 50%;transform: translateY(-50%); border-radius:50%" onerror="this.src='/media/profiles/photo/default.png'" alt="user"/></a>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <h4 class="mb-0">` + emp_data['fullName'] + `</h4>
                            <p style="margin:auto;"><small class="label label-success" style="background-color: ` + clr[ofx_make_key(emp_data['department'] != null ? emp_data['department'] : "blank")] + `;">` + emp_data['department'] + `</small> / <small class="label label-primary">` + emp_data['role'] + `</small></p>
                            <p style="margin:auto; color:#b7b7b7;">Phone:` + emp_data['contact'] + `</p>
                            <p style="color:#b7b7b7;">Address: ` + emp_data['address'] + `</p>
                        </div>
                    </div>
                </div>
            </div>`);
        return `.`+tagId;
        }
    var excOrder = ['profile','employee'],
        tagRoots = {
            profile:{ url: "/api/users/", map: null, defaults:{password:'Ofx@12345' },canUpdate:false},
            employee: { url: "/api/hrm/employee/", map: { profile: 'profile.id'}, defaults:{},canUpdate:true}
            },
        feilds = {
            username: {title: "User Name", tag:'input', attr:{ type:'text', placeholder:"Please Enter UserName", required:"required"}, targets:{profile:"username"} },
            employee_id: {title: "Employee Id", tag:'input', attr:{ type:'text', placeholder:"Please Enter Employee Id", required:"required"}, targets:{employee:"employee_id", profile:"employee_id"} },
            email: {title: "Email", tag:'input', attr:{ style:"color: #fff;", type:'email', placeholder:"Please Enter Email", required:"required"}, targets:{employee:"email", profile:"email"} },
            fullName:{title: "Full Name", tag:'input', attr:{ type:'text', placeholder:"Please Enter Full Name", required:"required"}, targets:{employee:"fullName" } },
            first_name: {title: "First Name", tag:'input', attr:{ type:'text', placeholder:"Please Enter First Name", required:"required"}, targets:{employee:"first_name", profile:"first_name"} },
            last_name: {title: "Last Name", tag:'input', attr:{ type:'text', placeholder:"Please Enter Last Name", required:"required"}, targets:{employee:"last_name", profile:"last_name"} },
            contact: {title: "Contact", tag:'input', attr:{ type:'text', placeholder:"Please Enter Contact Number", class:"only-numeric"}, targets:{employee:"contact" } },
            address: {title: "Address", tag:'input', attr:{ type:'text', placeholder:"Please Enter Full Address"}, targets:{employee:"address" } },
            skills: {title: "Skills", tag:'input', attr:{ type:'text', placeholder:"Please Enter Skills"}, targets:{employee:"skills" } },
            experience: {title: "Experience", tag:'input', attr:{ type:'text', placeholder:"Please Enter Experience"}, targets:{employee:"experience" } },
            department: {title: "Department", tag:'select', attr:{class:"dep", required:"required"}, option:'', targets:{employee:"department" } },
            role: {title: "Role", tag:'select', attr:{class:"roles", required:"required"}, option:'', targets:{employee:"role" } },
            grade: {title: "Grade", tag:'select', attr:{class:"grades"}, option:'', targets:{employee:"grade" } },
            location: {title: "Location", tag:'select', attr:{class:"locations"}, option:'', targets:{employee:"location" } },
            employement_status: {title: "Employee Status", tag:'select', attr:{ }, option:`<option value="Active">Active</option><option value="Deactive">Deactive</option>`, targets:{employee:"employement_status" } },
            };
    function createFrom(feilds={},values={},callTag=''){
        $(empFrom).empty();
        var fromTags = [[]];
        $.each(feilds,function(_z,_e){
            if(fromTags[fromTags.length-1].length==2){
                fromTags.push([]);
                }
            _e.attr.class = typeof _e.attr.class == "undefined"?"form-control input-tag-x":_e.attr.class+" form-control input-tag-x";
            let attr = '';
            $.each(_e.attr,function(_y,_r){
                attr = attr+' '+_y+'=\''+_r+"'";
                });
            fromTags[fromTags.length-1].push(`<div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">`+_e.title+`</label>
                                        <`+_e.tag+` data-data='`+JSON.stringify(_e.targets)+`' data-tag="`+_e.targets[Object.keys(_e.targets)[0]]+`" `+attr+`>`+(_e.tag=='select'?_e.option+`</`+_e.tag+`>`:'')+`
                                    </div>
                                </div>`);
            });
        $.each(fromTags,function(_z,_e){
            let tag = $('<div class="row"></div>');
            $.each(_e,function(_y,_z){
                $(tag).append(_z);
                });
            $(empFrom).append(tag);
            });
        if(Object.keys(values).length>0){
            let tagx = excOrder[excOrder.length-1];
            $(empFrom).find('.input-tag-x').each(function(e){
                let tagName = $(this).attr('data-tag'),thisTag = $(this);
                if(typeof values[tagName] != "undefined"){
                    $(this).val(values[tagName]);
                    }else{
                        $.each(excOrder,function(_o,_p){
                            if(typeof values[_p] != "undefined" && typeof values[_p][tagName] != "undefined"){
                                $(thisTag).val(values[_p][tagName]);
                                }
                            });
                        }
                });
            }
        $(empFrom).append(`<div class="form-actions">`+(Object.keys(values).length>0?`<button type="submit" class="btn btn-success update-profile" data-utag="`+callTag+`" data-data='`+JSON.stringify(values)+`' ><i class="fa fa-floppy-o"></i> Update</button>`:`<button type="submit" class="btn btn-success create-profile" ><i class="fa fa-floppy-o"></i> Create</button>`)+`
                <button type="button" class="btn btn-dark" onclick="close_employee_modal()">Cancel</button>
            </div>`);
        }
    $(document).ready(function () {
        $.ajax({
            url: '/api/hrm/departments/',
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            async: true, //displays data after loading the page
            processing: false,
            // data: {status:"IN PROGRESS"},
            success: function (response) {
                allDepartment = JSON.parse(JSON.stringify(response));
                $.each(response,function(z,e){
                    departmentOptions = departmentOptions+`<option value="`+e.name+`" data-name="`+ofx_make_key(e.name)+`">`+e.name+`</option>`;
                    clr[ofx_make_key(e.name)] = e.color;
                    });
                $('.departments-main').html('<option value="showall" data-name="">All Departments</option>'+departmentOptions);
                feilds.department.option = '<option value="">Select Department</option>'+departmentOptions;
                // $('select.dep').html('<option value="">Select Department</option>'+departmentOptions);
                // $('select.dep').html();
                },
            error: function (jqXHR, exception) {
                console.log(jqXHR.responseText)
                }
            });
        $.ajax({
            url: '/api/hrm/role/',
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            async: true, //displays data after loading the page
            processing: false,
            success: function (response) {
                $.each(response,function(z,e){
                    roleOptions = roleOptions+`<option value="`+e.name+`" data-id="`+e.id+`">`+e.name+`</option>`;
                    });
                feilds.role.option = '<option value="">Select Role</option>'+roleOptions;
                // $('.roles').html(roleOptions);
                },
            error: function (jqXHR, exception) {
                console.log(jqXHR.responseText)
                }
            });

        $.ajax({
            url: '/api/hrm/grades/',
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            async: true, //displays data after loading the page
            processing: false,
            success: function (response) {
                feilds.grade.option = `<option value="" >Select Grade</option>`;
                // $('.grades').html(`<option value="" >Select Grade</option>`);
                $.each(response,function(z,e){
                    feilds.grade.option = feilds.grade.option + `<option value="`+e.name+`" data-id="`+e.id+`">`+e.name+`</option>`;
                    // $('.grades').append(`<option value="`+e.name+`" data-id="`+e.id+`">`+e.name+`</option>`);
                    });
                },
            error: function (jqXHR, exception) {
                console.log(jqXHR.responseText)
                }
            });
        $.ajax({
            url: '/api/hrm/locations/',
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            async: true, //displays data after loading the page
            processing: false,
            success: function (response) {
                feilds.location.option = `<option value="" >Select Grade</option>`;
                $.each(response,function(z,e){
                    feilds.location.option = feilds.location.option + `<option value="`+e.name+`" data-id="`+e.id+`">`+e.name+`</option>`;
                    });
                // $('.locations').html(`<option value="" >Select Location</option>`);
                // $.each(response,function(z,e){
                //     $('.locations').append(`<option value="`+e.name+`" data-id="`+e.id+`">`+e.name+`</option>`);
                //     });
                },
            error: function (jqXHR, exception) {
                console.log(jqXHR.responseText)
                }
            });
        
        $.ajax({
            url: "/api/hrm/employee/",
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            async: true, //displays data after loading the page
            processing: false,
            success: function (response) {
                // renderEmpData(response[0]);
                $.each(response,function(z,e){
                    renderEmpData(e);
                    });
                },
            error: function (jqXHR, exception) {
                console.log(jqXHR.responseText)
                }
            });
        });
    
    
    $(document).on('change keyup', '.e-find, .departments-main', function(e){
        var dep = $('.departments-main').val(), ksr = $('.e-find').val().trim();
        $(empBody).find('.emp-row').each(function(e){
            let dt = JSON.parse($(this).attr('data-find')), isIn = false;
            isIn = String(dt.department)==String(dep)||dep=="showall";
            if(isIn&&$('.e-find').val().trim().length>0){
                isIn = false;
                $.each(dt,function(z,xd){
                    if(z!="department"&&xd!=null&&xd.trim().toLowerCase().replace(/&nbsp;/g, ' ').replace(/\t/g, '').includes(ksr.toLowerCase())){
                        isIn = true;
                        }
                    });
                }
            if(isIn){
                $(this).removeAttr('style');
                }else{
                    $(this).css('display','none');
                    }
            });
        });
    
    var _fResp = {};
    function _runFrom(index=0,type,updateIfo={},dataTag=""){
        if(index==0){ _fResp = {}; }
        var _e = excOrder[index];
        let url = tagRoots[_e].url, rqData={};
        if(type||(!type&&tagRoots[_e].canUpdate)){
            $.each(feilds,function(_y,_u){
                if(typeof _u.targets[_e] != "undefined"){
                    rqData[_u.targets[_e]] = $(`.input-tag-x[data-tag="`+_u.targets[Object.keys(_u.targets)[0]]+`"]`).val();
                    }
                });
            $.each(tagRoots[_e].defaults,function(_dx,_dy){
                rqData[_dx] = _dy;
                });
            let isPass = true;
            $.each((tagRoots[_e].map!=null&&type)?tagRoots[_e].map:{},function(_dx,_dy){
                let dkay = _dy.split(".");
                if(typeof _fResp[dkay[0]][dkay[1]] == "undefined"){
                    isPass = false;
                    }else{
                        rqData[_dx] = _fResp[dkay[0]][dkay[1]];
                        }
                });
            if(isPass){
                $.ajax({
                    url: url+(!type?+(typeof updateIfo[_e] == "undefined"?updateIfo.id:updateIfo[_e].id)+'/':''),
                    type: type?'POST':'PUT',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    async: true, //displays data after loading the page
                    processing: false,
                    data: JSON.stringify(rqData),
                    success: function (response) {
                        _fResp[_e] = JSON.parse(JSON.stringify(response));
                        if(typeof excOrder[index+1] != "undefined"){
                            _runFrom(index+1,type,updateIfo,dataTag);
                            }else{
                                $.ajax({
                                    url: "/api/hrm/employee/?id="+response.id,
                                    type: 'GET',
                                    dataType: "json",
                                    contentType: 'application/json; charset=utf-8',
                                    async: true, //displays data after loading the page
                                    processing: false,
                                    success: function (response) {
                                        let tgx = $(renderEmpData(response[0]));
                                        if(!type){
                                            $(tgx).insertBefore(dataTag);
                                            $(dataTag).remove();
                                            }
                                        },
                                    error: function (jqXHR, exception) {
                                        console.log(jqXHR.responseText)
                                        }
                                    });
                                close_employee_modal();
                                }
                        },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.responseText)
                        }
                    });
                }
            }else if(typeof excOrder[index+1] != "undefined"){
                _runFrom(index+1,type,updateIfo,dataTag);
                }else{
                    close_employee_modal();
                    }
        }

    $(document).on('submit', '.emp-form', function(e){
        let type = $(this).find('.create-profile').length>0?true:false,
            updateIfo = !type?JSON.parse($($(this).find('.update-profile')).attr('data-data')):{};
        _runFrom(0,type,updateIfo,(!type?$(this).find('.update-profile').attr('data-utag'):""));
        return false;
        });

    $(document).on('click', '.edit-emp', function(e){
        let tagCls = $(this).attr('data-data');
        let parent = $(this).parents(tagCls);
        $.ajax({
            url: "/api/hrm/employee/?id="+$(parent).attr("data-row"),
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            async: true, //displays data after loading the page
            processing: false,
            success: function (response) {
                createFrom(feilds,response[0],tagCls);
                $('.input-tag-x[data-tag="username"]').prop("readonly", true);
                $('#add_employee_modal').modal('show');
                },
            error: function (jqXHR, exception) {
                console.log(jqXHR.responseText)
                }
            });
        // console.log('UCSJKHSJKHGD',parent,JSON.parse($(parent).attr("data-data")));
        // createFrom(feilds,JSON.parse($(parent).attr("data-data")),tagCls);
        // $('.input-tag-x[data-tag="username"]').prop("readonly", true);
        // $('#add_employee_modal').modal('show');
        });
    // $(document).on('submit', '.emp-form', function(e){
    //     let type = $(this).find('.create-profile').length>0?true:false,
    //         updateIfo = !type?JSON.parse($($(this).find('.update-profile')).attr('data-data')):{};
    //     var respons = {};
    //     $.each(excOrder,function(_z,_e){
    //         let url = tagRoots[_e].url, rqData={};
    //         if(type||(!type&&tagRoots[_e].canUpdate)){
    //             $.each(feilds,function(_y,_u){
    //                 if(typeof _u.targets[_e] != "undefined"){
    //                     rqData[_u.targets[_e]] = $(`.input-tag-x[data-tag="`+_u.targets[Object.keys(_u.targets)[0]]+`"]`).val();
    //                     }
    //                 });
    //             $.each(tagRoots[_e].defaults,function(_dx,_dy){
    //                 rqData[_dx] = _dy;
    //                 });
    //             let isPass = true;
    //             $.each((tagRoots[_e].map!=null&&type)?tagRoots[_e].map:{},function(_dx,_dy){
    //                 let dkay = _dy.split(".");
    //                 if(typeof respons[dkay[0]][dkay[1]] == "undefined"){
    //                     isPass = false;
    //                     }else{
    //                         rqData[_dx] = respons[dkay[0]][dkay[1]];
    //                         }
    //                 });
    //             if(isPass){
    //                 $.ajax({
    //                     url: url+(!type?+(typeof updateIfo[_e] == "undefined"?updateIfo.id:updateIfo[_e].id)+'/':''),
    //                     type: type?'POST':'PUT',
    //                     dataType: "json",
    //                     contentType: 'application/json; charset=utf-8',
    //                     async: true, //displays data after loading the page
    //                     processing: false,
    //                     data: JSON.stringify(rqData),
    //                     success: function (response) {
    //                         respons[_e] = JSON.parse(JSON.stringify(response));
    //                         },
    //                     error: function (jqXHR, exception) {
    //                         console.log(jqXHR.responseText)
    //                         }
    //                     });
    //                 }
    //             }
    //         });
    //     return false;
    //     });
    
    // $(document).on('click', '.create-profile', function(e){
    //     var respons = {};
    //     $.each(excOrder,function(_z,_e){
    //         let url = tagRoots[_e].url, rqData={};
    //         $.each(feilds,function(_y,_u){
    //             if(typeof _u.targets[_e] != "undefined"){
    //                 rqData[_u.targets[_e]] = $(`.input-tag-x[data-tag="`+_u.targets[Object.keys(_u.targets)[0]]+`"]`).val();
    //                 }
    //             });
    //         $.each(tagRoots[_e].defaults,function(_dx,_dy){
    //             rqData[_dx] = _dy;
    //             });
    //         console.log(url,JSON.parse(JSON.stringify(rqData)));
    //         });
    //     });
    
    // function modelEmployee(data={}){

    //     }



 


    

    //TeamLead Assignments Modal Show
    $("#add_emp_btn").click(function (e) {
        createFrom(feilds,{});
        // console.log("Clicked")
        // document.getElementById("emp_form").reset();
        $('#save_btn').removeClass('hide')
        $('#update_btn').addClass('hide')
        $("#username").prop("readonly", false);
        $(' #add_employee_modal').modal('show');
        });
    var glob_emp_data = ""

    function close_employee_modal() {
        $('#add_employee_modal').modal('hide');
    }

    // $(document).on("click", "#update_btn", function (e) {
    //     var emp_id = $(this).attr('data-data')
    //     _empdata = {
    //         'employee_id': $("#employee_id").val(),
    //         'contact': $("#contact").val(),
    //         'email': $("#email").val(),
    //         'address': $("#address").val(),
    //         'skills': $("#skills").val(),
    //         'experience': $("#experience").val(),
    //         'employement_status': $("#employement_status").val(),
    //         'department': $("#department").val(),
    //         'role': $("#role").val(),
    //         'grade': $("#grade").val(),
    //         'location': $("#location").val(),
    //     }
    //     console.log(_empdata)
    //     $.ajax({
    //         type: "PUT",
    //         url: "/api/hrm/employee/" + emp_id + '/',
    //         data: _empdata,
    //         dataType: "json",
    //         success: function (data, status, xhr) {
    //             console.log(xhr)
    //             if (xhr.status == 201) {
    //                 close_employee_modal()
    //                 Swal.fire({
    //                     icon: 'success',
    //                     title: 'Success',
    //                     text: 'Employee Updated Successfully'
    //                 });
    //             } else {
    //                 Swal.fire({
    //                     icon: 'error',
    //                     title: 'Oops...',
    //                     text: 'Something went wrong \n Please contact Pipeline Administrator',
    //                 });
    //             }
    //         },
    //         error: function (xhr, status, errorThrown) {
    //             console.log(status)
    //             Swal.fire({
    //                 icon: 'error',
    //                 title: 'Oops...',
    //                 text: 'Something went wrong \n Please contact Pipeline Administrator',
    //             });
    //         }
    //     })
    //     return false

    //     console.log($(this).attr('data-data'));
    // });

    // function create_profile() {
        
    //     _data = {
    //         'employee_id': $("#employee_id").val(),
    //         'username': $("#username").val(),
    //         'email': $("#email").val(),
    //          'fullName': $("#fullName").val(),
    //         'first_name': $("#first_name").val(),
    //         'last_Name': $("#last_name").val(),
    //         'skills': $("#skills").val(),
    //         'experience': $("#experience").val(),
    //         'is_staff': false,
    //         'password': 'Ofx@12345',

    //     }
    //     $.ajax({
    //         type: "POST",
    //         url: " /api/users/",
    //         data: _data,
    //         dataType: "json",
    //         success: function (data, statusText, xhr) {

    //             if (xhr.status === 201) {

    //                 create_employee(data);
    //             }
    //         },
    //         error: function (xhr, status, errorThrown) {
    //             //console.log(status)
    //             Swal.fire({
    //                 icon: 'error',
    //                 title: 'Oops...',
    //                 text: 'Something went wrong \n Please contact Pipeline Administrator',
    //             });
    //         }
    //     })
    //     return false
    // }


    // function create_employee(data) {
    //     _empdata = {
    //         'employee_id': $("#employee_id").val(),
    //         'fullName': $("#fullName").val(),
    //         'first_name': $("#first_name").val(),
    //         'last_name': $("#last_name").val(),
    //         'contact': $("#contact").val(),
    //         'email': $("#email").val(),
    //         'address': $("#address").val(),
    //         'skills': $("#skills").val(),
    //         'experience': $("#experience").val(),
    //         'employement_status': $("#employement_status").val(),
    //         'department': $("#department").val(),
    //         'role': $("#role").val(),
    //         'grade': $("#grade").val(),
    //         'location': $("#location").val(),
    //         'profile': data.id
    //     }
    //     //console.log(_empdata)
    //     $.ajax({
    //         type: "POST",
    //         url: "/api/hrm/employee/",
    //         data: _empdata,
    //         dataType: "json",
    //         success: function (data, status, xhr) {
    //             //console.log(xhr)
    //             if (xhr.status == 201) {
    //                 close_employee_modal()
    //                 Swal.fire({
    //                     icon: 'success',
    //                     title: 'Success',
    //                     text: 'Employee Added Successfully'
    //                 });
    //             } else {
    //                 Swal.fire({
    //                     icon: 'error',
    //                     title: 'Oops...',
    //                     text: 'Something went wrong \n Please contact Pipeline Administrator',
    //                 });
    //             }
    //         },
    //         error: function (xhr, status, errorThrown) {
    //             //console.log(status)
    //             Swal.fire({
    //                 icon: 'error',
    //                 title: 'Oops...',
    //                 text: 'Something went wrong \n Please contact Pipeline Administrator',
    //             });
    //         }
    //     })
    //     return false
    // }


    // function view_employee_data(employee) {
    //     //console.log(employee['profile']['username'])
    //     $('#username').val(employee['profile']['username'])
    //     $('#employee_id').val(employee['employee_id'])
    //     $('#fullName').val(employee['fullName'])
    //     $('#first_name').val(employee['first_name'])
    //     $('#last_name').val(employee['last_name'])
    //     $('#contact').val(employee['contact'])
    //     $('#email').val(employee['email'])
    //     $('#address').val(employee['address'])
    //     $('#employement_status').val(employee['employement_status'])
    //     $('#skills').val(employee['skills'])
    //     $('#experience').val(employee['experience'])
    //     $('#department').val(employee['department'])
    //     $('#role').val(employee['role'])
    //     $('#grade').val(employee['grade'])
    //     $('#location').val(employee['location'])
    //     $('#id').val(employee['id'])
    //     $('#save_btn').addClass('hide')
    //     $('#update_btn').removeClass('hide')
    //     $('#update_btn').attr("data-data", employee['id'])
    //     $("#username").prop("readonly", true);
    //     $('#add_employee_modal').modal('show');

    // }


    

    // function dep(depart = "PAINT") {
    //     $.ajax({
    //         url: "/api/hrm/employee/" + (depart != null ? '?dept=' + depart : ''),
    //         type: 'GET',
    //         dataType: "json",
    //         contentType: 'application/json; charset=utf-8',
    //         "dataSrc": "",
    //         'async': true,
    //         success: function (response) {
    //             $('.employee-cards').empty()
    //             for (a = 0; a < response.length; a++) {
    //                 //console.log(response[a])
    //                 // render_emp_data(response[a])
    //             }
    //         },
    //         error: function (jqXHR, exception) {
    //             console.log(jqXHR.responseText)
    //         }
    //     });

    // }


    // $(document).ready(function () {
    //     $.ajax({
    //         url: '/api/hrm/departments/',
    //         type: 'GET',
    //         dataType: "json",
    //         contentType: 'application/json; charset=utf-8',
    //         success: function (response, statusText, xhr) {
    //             for (a = 0; a < response.length; a++) {
    //                 $('.departments').append(`<a href="#" class="dropdown-item get-department-data" data="` + response[a]['name'] + `">` + response[a]['name'] + `</a>`);
    //                 clr[ofx_make_key(response[a]['name'])] = response[a]['color'];
    //                 $('.dep').append(`<option   value="` + response[a]['name'] + `">` + response[a]['name'] + `</option>`);
    //             }
    //         },
    //         error: function (jqXHR, exception) {
    //             console.log(jqXHR.responseText)
    //         }
    //     });
    //     $.ajax({
    //         url: '/api/hrm/role/',
    //         type: 'GET',
    //         dataType: "json",
    //         contentType: 'application/json; charset=utf-8',
    //         success: function (response) {
    //             if (response.status === 200) {

    //             } else if (response.status === 201) {

    //             }

    //             for (b = 0; b < response.length; b++) {
    //                 //console.log(response[b])
    //                 // bb = `<a href="#" class="dropdown-item get-role-data" data="` + response[b]['name'] + `">` + response[b]['name'] + `</ahref>`
    //                 bb = `<option   value="` + response[b]['name'] + `">` + response[b]['name'] + `</option>`
    //                 $('.roles').append(bb)
    //             }
    //         },
    //         error: function (jqXHR, exception) {
    //             console.log(jqXHR.responseText)
    //         }
    //     });
        
    //     dep();
    // });


    // $(document).on("click", ".get-department-data", function (e) {
    //     var parent = $(this).parent();
    //     $(parent).find(".get-department-data").each(function (e) {
    //         $(this).attr("style", "");
    //     });
    //     $(this).attr("style", "display:none;");
    //     $(parent).parent().find('button.dropdown-toggle').html($(this).html());
    //     dep($(this).attr("data"));

    // });


    // $(document).on("click", ".get-dep-data", function (e) {
    //     var parent = $(this).parent();
    //     $(parent).select(".get-dep-data").each(function (e) {
    //         $(this).attr("style", "");
    //     });
    //     $(this).attr("style", "display:none;");
    //     $(parent).parent().select('.dropdown-toggle').html($(this).html());
    //     ($(this).attr("data"));
    // });


    // $(document).on("click", ".get-role-data", function (e) {
    //     var parent = $(this).parent();
    //     $(parent).select(".get-role-data").each(function (e) {
    //         $(this).attr("style", "");
    //     });
    //     $(this).attr("style", "display:none;");
    //     $(parent).parent().select('.dropdown-toggle').html($(this).html());
    //     ($(this).attr("data"));
    // });


    // $(document).on("click", ".get-grade-data", function (e) {
    //     var parent = $(this).parent();
    //     $(parent).select(".get-grade-data").each(function (e) {
    //         $(this).attr("style", "");
    //     });
    //     $(this).attr("style", "display:none;");
    //     $(parent).parent().select('.dropdown-toggle').html($(this).html());
    //     ($(this).attr("data"));
    // });


    // $(document).on("click", ".get-location-data", function (e) {
    //     var parent = $(this).parent();
    //     $(parent).select(".get-location-data").each(function (e) {
    //         $(this).attr("style", "");
    //     });
    //     $(this).attr("style", "display:none;");
    //     $(parent).parent().select('.dropdown-toggle').html($(this).html());
    //     ($(this).attr("data"));
    // });


    // var all_employee_json = $.ajax({
    //     type: "GET",
    //     url: "/api/hrm/employee",
    //     dataType: "application/json",
    //     async: false,
    //     error: function (xhr, status, errorThrown) {
    //     }
    // }).responseText;
    // var all_employees = JSON.parse(all_employee_json);
    // all_employees.forEach(function (employee) {
    //     render_emp_data(employee);
    // });


    // Name Search
    // function employee_search(search_text) {
    //     $('.employee-cards').html('');
    //     all_employees.forEach(function (employee) {
    //         var full_name = employee['fullName'].toUpperCase();
    //         if (full_name.includes(search_text.toUpperCase())) {
    //             render_emp_data(employee);
    //         }
    //     })
    // }

    // $('#search_box').on('input', function () {
    //     employee_search($(this).val());
    // });

</script>

{% endblock page_scripts %}