{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'template/assets/images/favicon_new.png' %}">
{#    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/favicon/apple-icon-57x57.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/favicon/apple-icon-60x60.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/favicon/apple-icon-72x72.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/favicon/apple-icon-76x76.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/favicon/apple-icon-114x114.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/favicon/apple-icon-120x120.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/favicon/apple-icon-144x144.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/favicon/apple-icon-152x152.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/favicon/apple-icon-180x180.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/favicon/android-icon-192x192.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon/favicon-32x32.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon/favicon-96x96.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon/favicon-16x16.png' %}">#}
{#    <link rel="manifest" href="{% static 'icons/favicon/manifest.json' %}">#}
{#    <meta name="msapplication-TileColor" content="#ffffff">#}
{#    <meta name="msapplication-TileImage" content="{% static 'icons/favicon/ms-icon-144x144.png' %}">#}
    <meta name="theme-color" content="#ffffff">
    <title>{% include 'main/version.html' %}</title>
    <script src="{% static 'template/assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="/production/default.js?department={{user.employee.department}}&role={{user.employee.role}}&abcxyz=update1" type="text/javascript"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'template/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'template/main/dark/css/style.css' %}?abcxyz=update1" rel="stylesheet">
{#    <link href="{% static 'template/main/light/css/style.css' %}" rel="stylesheet">#}
    <!-- You can change the theme colors from here -->
    <link href="{% static 'template/main/dark/css/colors/megna-dark.css' %}" id="theme" rel="stylesheet">
    <link rel="stylesheet"
          href="{% static 'template/assets/plugins/toast-master/css/jquery.toast.css' %}" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>
