{% extends 'main/base.html' %}
{% load static %}
{% block bread_crumb %}

    <link rel='stylesheet' href="{% static 'third_party/DataTables/DataTables-1.12.1/css/jquery.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Responsive-2.3.0/css/responsive.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Responsive-2.3.0/css/responsive.bootstrap5.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Buttons-2.2.3/css/buttons.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'template/assets/plugins/multiselect/css/multi-select.css' %}"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'third_party/DataTables/custom_css/datables_searchpane.css' %}" type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'third_party/DataTables/Select-1.4.0/css/select.dataTables.min.css' %}" type="text/css"/>
    <link href="{% static 'third_party/DataTables/DataTables-1.12.1/css/dataTables.jqueryui.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'third_party/DataTables/DateTime-1.1.2/css/dataTables.dateTime.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/jquery-ui-themes-1.11.1/themes/south-street/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/dataTables.jqueryui.css' %}" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href="{% static 'assets/css/style.css' %}" type="text/css"/>
    <style>
        .form-control {
            color: #fffcfc !important;
        }

        .container-fluid {
            padding: 10px !important;
        }

        .row {
            margin: 0px !important;
        }

        /* An ugly trick to use a filter icon */
        .ui-icon-volume-off.ui-icon-filter {
            -ms-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
        }

        .card {
            padding: 10px 1px;
            background: #272c33 !important;
            {#color: white;#}
            margin-bottom: 10px !important;
        }

        #filter_div {
            padding: 10px;
            background: #272c33 !important;
            color: white;
        }

        .col-lg-12 {
            padding: 0px !important;
        }

        .col-lg-10 {
            padding: 0px !important;
        }

        .card-body {
            padding: 0rem !important;
        }

        .dt-buttons .dt-button {
            border-radius: 4px;
            background: orange;
            color: #ffffff
        }

        table.dataTable tbody tr {
            background-color: #272c33 !important;
            font-size: small;
            font-weight: normal;
        }

        table.dataTable tr.odd {
            background-color: #343a40 !important;
        }

        table.dataTable td {
            border-bottom: 0.2px !important;
            border-color: grey !important;
        }

        table.dataTable thead {
            color: #f6f5f5;
            font-weight: normal;
            font-size: small;
        }

        #shots_table_length, #shots_table_info, #shots_table_filter {
            color: #a2a1a1 !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 2px;
            background: white !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            color: #fff5f5 !important;
            background-color: #e5711d !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: rgb(183, 110, 5) !important;
        }

        .dataTables_wrapper .dataTables_paginate .ellipsis {
            color: white;
        }

        tfoot input {
            width: 100% !important;
            padding: 3px !important;
            box-sizing: border-box !important;
        }

        table.dataTable tfoot th, table.dataTable tfoot td {
            padding: 5px;
            border-top: 0px;
        }

        .page-titles {
            padding-bottom: 0px;
        }

        .dataTables_wrapper .dataTables_length select {
            color: #ccc8c8 !important;
            background-color: inherit;
        }

        .dataTables_wrapper .dataTables_filter input {
            color: #dad8d8 !important;
        }


        table.dataTable tbody tr.selected {
            background-color: #315eb1 !important;
            color: white !important;
        }

        label {
            margin-bottom: 0px !important;
        }

        .multiselect-container > li > a > label {
            padding: 4px 20px 3px 20px;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 7px;
        }

        .column_vis {
            height: 20px;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #383f48;
            border-radius: 5px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #2965b9;
            border-radius: 5px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


        div.dtsp-verticalContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes,
        div.dtsp-verticalContainer div.container {
            width: 20%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 0;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 26%;
        }

        div.dtsp-verticalPanes {
            margin-right: 10px;
        }

        div.dtsp-title {
            margin-right: 0px !important;
            margin-top: 13px !important;
        }

        input.dtsp-search {
            min-width: 0px !important;
            padding-left: 0px !important;
            margin: 0px !important;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes {
            flex-direction: column;
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes div.dtsp-searchPane {
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.container {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 80%;
        }

        div.dtsp-panesContainer {
            border: 1px solid transparent;
            border-radius: 6px;
            padding: 5px;
        }

        select {
            -webkit-appearance: none;
        }

        div.dtsp-narrow {
            flex-direction: column !important;
            background-color: #343a40;
        }

        div.dtsp-panesContainer button.dtsp-clearAll, div.dtsp-panesContainer button.dtsp-collapseAll, div.dtsp-panesContainer button.dtsp-showAll {
            border: none;
            background-color: #343a40;
            padding: 3px;
            border-radius: 5px;
        }

        div.dtsp-panesContainer button.dtsp-disabledButton {
            cursor: default !important;
            background-color: #343a40;
            padding: 3px;
            border-radius: 10px;
            color: white;
        }

        div.dtsp-panesContainer div.dataTables_wrapper div.dataTables_scrollBody {
            background: #343a40 !important;
            border-bottom: none;
        }

        /* An ugly trick to use a filter icon */
        .ui-icon-volume-off.ui-icon-filter {
            -ms-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
        }

        .modal.right .modal-dialog {
            position: fixed;
            margin: auto;
            width: 700px;
            height: 100%;
            -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
        }

        .modal.right .modal-content {
            height: 100%;
            overflow-y: auto;
        }

        .modal.right .modal-body {
            padding: 15px 15px 15px;
        }

        .modal.right.fade .modal-dialog {
            right: 0px;
            -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
        }

        .modal.right.fade.in .modal-dialog {
            right: 0;
        }

        /* ----- MODAL STYLE ----- */
        .modal-content {
            border-radius: 0;
            border: none;
        }

        .modal-header {
            border-bottom-color: #EEEEEE;
            background-color: #e5711d;
        }
        
        input.dtsp-search::placeholder {
            color: #a4a4a8 !important;
        }
    </style>
    <div class="row page-titles">
        <div class="col-md-6 col-4 float-left">
            <h3 class="text-themecolor mb-0 mt-2">Artists Statistics</h3>
        </div>
        <div class="col-md-6 col-8 text-right pt-1">
            <div class="btn-group mb-2 mr-2" role="group" aria-label="Button group with nested dropdown">
                <select class="btn btn-outline-info departments-selectors">
                    <option value="showall" >All Departments</option>
                </select>
                <input type="text" class="btn btn-info search e-find" placeholder="Search..." style="background: transparent !important; cursor: initial;" value="">
            </div>
            <script>
                $(document).ready(function(e){
                    let tag = $('.departments-selectors');
                    $.each(ofx_page_data.departments,function(x,e){
                        $(tag).append($(`<option value="`+e.id+`" >`+e.name+`</option>`));
                        });
                    });
            </script>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
{% endblock bread_crumb %}


{% block content %}
<div class="row">
    <div class="col-md-12 p-0">
        <div class="card pl-2 pr-2 pb-0"  style="overflow-x: auto;">
            <div class=" pb-0 mb-0">
                <div class="card-body">
                    <table class="table table-hover table-self-x table-bordered" >
                        <thead>
                            <tr style="font-size: small;">
                                <th rowspan="2" class="pt-1 pb-1" style="vertical-align: middle;"><div class="th-inner">Artist Name</div></th>
                                <th rowspan="2" class="pt-1 pb-1" style="vertical-align: middle;"><div class="th-inner">Employee ID</div></th>
                                <th colspan="7" class="pt-1 pb-1 text-center" style="vertical-align: middle;" title="Running" ><div class="th-inner">W1</div></th>
                                <th colspan="7" class="pt-1 pb-1 text-center" style="vertical-align: middle;" title="Running" ><div class="th-inner">W2</div></th>
                                <th colspan="7" class="pt-1 pb-1 text-center" style="vertical-align: middle;" title="Running" ><div class="th-inner">W3</div></th>
                                <th colspan="7" class="pt-1 pb-1 text-center" style="vertical-align: middle;" title="Running" ><div class="th-inner">W4</div></th>
                            </tr>
                            <tr style="font-size: small;">
                                <th class="pt-1 pb-1" style="border-left: 1px solid #ffffff!important;" title="Target Mandays" > <div><div class="th-inner" >TMD</div></div></th>
                                <th class="pt-1 pb-1" title="Achieved Mandays" > <div><div class="th-inner" >AMD</div></div></th>
                                <th class="pt-1 pb-1" title="Required Working Hours" > <div><div class="th-inner" >RWH</div></div></th>
                                <th class="pt-1 pb-1" title="Available/ESSL Hours" > <div><div class="th-inner" >AEH</div></div></th>
                                <th class="pt-1 pb-1" title="Active/System Hours" > <div><div class="th-inner" >ASH</div></div></th>
                                <th class="pt-1 pb-1" title="Leaves" > <div><div class="th-inner" >Leaves</div></div></th>
                                <th class="pt-1 pb-1" title="Missing ETA's" > <div><div class="th-inner" >META'S</div></div></th>
                                <th class="pt-1 pb-1" title="Target Mandays" > <div><div class="th-inner" >TMD</div></div></th>
                                <th class="pt-1 pb-1" title="Achieved Mandays" > <div><div class="th-inner" >AMD</div></div></th>
                                <th class="pt-1 pb-1" title="Required Working Hours" > <div><div class="th-inner" >RWH</div></div></th>
                                <th class="pt-1 pb-1" title="Available/ESSL Hours" > <div><div class="th-inner" >AEH</div></div></th>
                                <th class="pt-1 pb-1" title="Active/System Hours" > <div><div class="th-inner" >ASH</div></div></th>
                                <th class="pt-1 pb-1" title="Leaves" > <div><div class="th-inner" >Leaves</div></div></th>
                                <th class="pt-1 pb-1" title="Missing ETA's" > <div><div class="th-inner" >META'S</div></div></th>
                                <th class="pt-1 pb-1" title="Target Mandays" > <div><div class="th-inner" >TMD</div></div></th>
                                <th class="pt-1 pb-1" title="Achieved Mandays" > <div><div class="th-inner" >AMD</div></div></th>
                                <th class="pt-1 pb-1" title="Required Working Hours" > <div><div class="th-inner" >RWH</div></div></th>
                                <th class="pt-1 pb-1" title="Available/ESSL Hours" > <div><div class="th-inner" >AEH</div></div></th>
                                <th class="pt-1 pb-1" title="Active/System Hours" > <div><div class="th-inner" >ASH</div></div></th>
                                <th class="pt-1 pb-1" title="Leaves" > <div><div class="th-inner" >Leaves</div></div></th>
                                <th class="pt-1 pb-1" title="Missing ETA's" > <div><div class="th-inner" >META'S</div></div></th>
                                <th class="pt-1 pb-1" title="Target Mandays" > <div><div class="th-inner" >TMD</div></div></th>
                                <th class="pt-1 pb-1" title="Achieved Mandays" > <div><div class="th-inner" >AMD</div></div></th>
                                <th class="pt-1 pb-1" title="Required Working Hours" > <div><div class="th-inner" >RWH</div></div></th>
                                <th class="pt-1 pb-1" title="Available/ESSL Hours" > <div><div class="th-inner" >AEH</div></div></th>
                                <th class="pt-1 pb-1" title="Active/System Hours" > <div><div class="th-inner" >ASH</div></div></th>
                                <th class="pt-1 pb-1" title="Leaves" > <div><div class="th-inner" >Leaves</div></div></th>
                                <th class="pt-1 pb-1" title="Missing ETA's" > <div><div class="th-inner" >META'S</div></div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr style="font-size: small;">
                                <td class="pt-1 pb-1">Target Mandays</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                            </tr>
                            <tr style="font-size: small;">
                                <td class="pt-1 pb-1">Achieved Mandays</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                            </tr>
                            <tr style="font-size: small;">
                                <td class="pt-1 pb-1">Required Working Hours</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                            </tr>
                            <tr style="font-size: small;">
                                <td class="pt-1 pb-1">Available/ESSL Hours</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                            </tr>
                            <tr style="font-size: small;">
                                <td class="pt-1 pb-1">Active/System Hours</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                            </tr>
                            <tr style="font-size: small;">
                                <td class="pt-1 pb-1">Leaves</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                            </tr>
                            <tr style="font-size: small;">
                                <td class="pt-1 pb-1">Missing ETA's</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                                <td class="text-center pt-1 pb-1">200</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_scripts %}
    <!--OFX Core JavaScript -->
    <script src="{% static 'ofx/core.js' %}"></script>
    <!-- End Core Javascript -->
    <script src="{% static 'template/assets/plugins/popper/popper.min.js' %}"></script>

    <script src="{% static 'third_party/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Responsive-2.3.0/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Responsive-2.3.0/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Buttons-2.2.3/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Buttons-2.2.3/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Bootstrap-5-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/custom_js/datatables_searchPane.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Select-1.4.0/js/dataTables.select.min.js' %}"></script>
    <!-- <script src="{% static 'template/assets/plugins/moment/moment.js' %}"></script> -->
    <script src="{% static 'third_party/DataTables/DateTime-1.1.2/js/dataTables.dateTime.min.js' %}"></script>

    <script src="{% static 'main/jquery-ui.min.js' %}"></script>
    <script src="{% static 'main/jquery.ui-contextmenu.min.js' %}"></script>
    <script src="{% static 'main/dataTables.colReorder.min.js' %}"></script>
    <script src="{% static 'main/fnFilterClear.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> -->
    <script>
        $(document).ready(function (e) {
            var deepMultiSelector = '.deep-multi-selector';
            $(document).on('click',deepMultiSelector,function(e){
                let ctrl = (window.event.ctrlKey || window.event.metaKey || window.event.keyCode == 91 || window.event.keyCode == 224)?true:false;
                let rData = [], thisTag = $(this), returnX = false;
                if(ctrl){
                    $(this).parent().find(deepMultiSelector).each(function(e){
                        if($(this).hasClass('active') && $(this) != $(thisTag)){
                            rData.push($(this).attr('data-data'));
                            }
                        });
                    }else{
                       $(this).parent().find(deepMultiSelector).each(function(e){
                            if($(this).hasClass('active') && $(this) != $(thisTag)){
                                $(this).removeClass('active');
                                }
                            });
                        returnX = true
                        }
                if($(this).hasClass('active')){
                    $(this).removeClass('active');    
                    }else{
                        rData.push($(this).attr('data-data'));
                        $(this).addClass('active');    
                        }
                return returnX;
                });
            });
    </script>
    <script src="{% static 'ofx/artistsStatistics.js' %}"></script>
    <script>
        function taskdata(from_date,to_date,boolen=true){
            var weekDates = dateSanitization(from_date,to_date,'week'),
                _from_date = weekDates.from_date,
                _to_date = weekDates.to_date;
            // $('.table-self-x .pt-1.pb-1.text-center').each(function(z,e){
            //     console.log('z',z,_from_date,_to_date);
            //     $(this).attr('title',z==0?"Running Week":moment(_to_date).subtract((z*7)+8,'days').format("Do MMM YYYY")+' - '+moment(_to_date).subtract((z*7),'days').format("Do MMM YYYY"));
            //     });
            $.ajax({
                type:"GET",
                url:"/api/v2/employeedailystatistics/",
                dataType: "json",
                data:{from_date:moment(_from_date).format('YYYY-MM-DD'),to_date:moment(_to_date).format('YYYY-MM-DD')},
                contentType: 'application/json; charset=utf-8',
                "dataSrc": "",
                "async": true,
                success: function (response) {
                    if(response.length>0){
                        var statistics = sortDailyStatistics(response,from_date,to_date),
                            lend = 0;
                        // console.log("statistics",statistics);
                        $.each(statistics,function(z,e){
                            let tbody = '';
                            $.each(e.week,function(_z,_e){
                                if(Object.keys(_e).length>0){
                                    let ex = addDailyStatisticsLogs(_e);
                                    tbody = `
                                            <td class="text-center pt-1 pb-1">`+ex.data.tmd.toFixed(2)+`</td>
                                            <td class="text-center pt-1 pb-1">`+ex.data.amd.toFixed(2)+`</td>
                                            <td class="text-center pt-1 pb-1">`+ex.data.rwh.toFixed(2)+`</td>
                                            <td class="text-center pt-1 pb-1">`+ex.data.aeh.toFixed(2)+`</td>
                                            <td class="text-center pt-1 pb-1">`+ex.data.ash.toFixed(2)+`</td>
                                            <td class="text-center pt-1 pb-1">`+ex.data.leaves.toFixed(2)+`</td>
                                            <td class="text-center pt-1 pb-1"></td>
                                            `+tbody;
                                    $('.table-self-x .pt-1.pb-1.text-center:eq('+((e.week.length-1)-_z)+')').attr('title',moment(ex.range.from_date).format('MMM Do YYYY')+' - '+moment(ex.range.to_date).format('MMM Do YYYY'));
                                    }
                                });
                            $('.table-self-x > tbody').append(`<tr data-data='`+JSON.stringify({name:e.fullName,eid:e.employee_id,department:e.department})+`'><td class="pt-1 pb-1" style="white-space: nowrap;"><a href="/production/my_task/?artist_id=`+e.employeeId+`" target="_blank">`+e.fullName.toLowerCase().replace(/\b[a-z]/g, function(letter) { return letter.toUpperCase(); })+`</a></td><td class="pt-1 pb-1">`+e.employee_id+`</td>`+tbody+`</tr>`)
                            });
                        // statistics = statistics[Object.keys(statistics)[0]];
                        
                        // lend = statistics.week.length;
                        // $.each(['week'],function(z,e){
                        //     $.each(statistics[e],function(_z,_e){
                        //         if(Object.keys(_e).length>0){
                        //             let ex = addDailyStatisticsLogs(_e);
                        //             addStatisticsToBody(
                        //                 $('.task-'+e+'s'),
                        //                 {
                        //                     title: e=="month"?moment(ex.range.from_date). format('MMM YYYY').toUpperCase():"Week-"+lend,
                        //                     hover:String(moment(ex.range.from_date).format('YYYY_MM'))==String(moment().format('YYYY_MM'))?"Running":moment(ex.range.from_date).format("Do MMM YYYY")+' - '+moment(ex.range.to_date).format("Do MMM YYYY")
                        //                     },
                        //                 ex.data);
                        //             }else{
    
                        //                 }
                        //         lend = lend - 1;
                        //         });
                        //     });
                        }
                    },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.responseText)
                    }
                });
            }
        $(document).ready(function () {
            var getKeys = JSON.parse(JSON.stringify({
                'from_date':moment().endOf('week').subtract(27, 'days').format('YYYY-MM-DD')+'T00:00:00.000000',
                'to_date': moment().endOf('week').format("YYYY-MM-DD")+'T23:59:59.999999'
                }));
            taskdata(getKeys['from_date'],getKeys['to_date'],true);
            });
            $(document).on('change keyup', '.e-find, .departments-selectors', function(e){
                var dep = $('.departments-selectors').val(), ksr = $('.e-find').val().trim();
                $('.table-self-x > tbody tr').each(function(e){
                    let dt = JSON.parse($(this).attr('data-data')), isIn = false;
                    isIn = String(dt.department)==String(dep)||dep=="showall";
                    if(isIn&&$('.e-find').val().trim().length>0){
                        isIn = false;
                        $.each(dt,function(z,xd){
                            if(z!="department"&&xd!=null&&xd.trim().toLowerCase().replace(/&nbsp;/g, ' ').replace(/\t/g, '').includes(ksr.toLowerCase())){
                                isIn = true;
                                }
                            });
                        }
                    if(isIn){
                        $(this).removeAttr('style');
                        }else{
                            $(this).css('display','none');
                            }
                    });
                });
    </script>
{% endblock page_scripts %}