{% extends 'main/base.html' %}
{% load static %}
{% block bread_crumb %}

    <link rel='stylesheet' href="{% static 'third_party/DataTables/DataTables-1.12.1/css/jquery.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Responsive-2.3.0/css/responsive.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Responsive-2.3.0/css/responsive.bootstrap5.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Buttons-2.2.3/css/buttons.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'template/assets/plugins/multiselect/css/multi-select.css' %}"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'third_party/DataTables/custom_css/datables_searchpane.css' %}" type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'third_party/DataTables/Select-1.4.0/css/select.dataTables.min.css' %}" type="text/css"/>
    <link href="{% static 'third_party/DataTables/DataTables-1.12.1/css/dataTables.jqueryui.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'third_party/DataTables/DateTime-1.1.2/css/dataTables.dateTime.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/jquery-ui-themes-1.11.1/themes/south-street/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/dataTables.jqueryui.css' %}" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href="{% static 'assets/css/style.css' %}" type="text/css"/>
    <style>
        .form-control {
            color: #fffcfc !important;
        }

        .container-fluid {
            padding: 10px !important;
        }

        .row {
            margin: 0px !important;
        }

        /* An ugly trick to use a filter icon */
        .ui-icon-volume-off.ui-icon-filter {
            -ms-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
        }

        .card {
            padding: 10px 1px;
            background: #272c33 !important;
            color: white;
            margin-bottom: 10px !important;
        }

        #filter_div {
            padding: 10px;
            background: #272c33 !important;
            color: white;
        }

        .col-lg-12 {
            padding: 0px !important;
        }

        .col-lg-10 {
            padding: 0px !important;
        }

        .card-body {
            padding: 0rem !important;
        }
        div.dt-button-collection button.dt-button:active:not(.disabled),
        div.dt-button-collection button.dt-button.active:not(.disabled),
        div.dt-button-collection div.dt-button:active:not(.disabled),
        div.dt-button-collection div.dt-button.active:not(.disabled),
        div.dt-button-collection a.dt-button:active:not(.disabled),
        div.dt-button-collection a.dt-button.active:not(.disabled){
            background-color: #272c33!important;
            background: #272c33!important;
            }

        table.dataTable tbody tr {
            background-color: #272c33 !important;
            font-size: small;
            font-weight: normal;
        }

        table.dataTable tr.odd {
            background-color: #343a40 !important;
        }

        table.dataTable td {
            border-bottom: 0.2px !important;
            border-color: grey !important;
        }

        table.dataTable thead {
            color: #f6f5f5;
            font-weight: normal;
            font-size: small;
        }

        .dataTables_length, .dataTables_info, .dataTables_filter {
            color: #a2a1a1 !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 2px;
            background: white !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            color: #fff5f5 !important;
            background-color: #e5711d !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: rgb(183, 110, 5) !important;
        }

        .dataTables_wrapper .dataTables_paginate .ellipsis {
            color: white;
        }

        tfoot input {
            width: 100% !important;
            padding: 3px !important;
            box-sizing: border-box !important;
        }

        table.dataTable tfoot th, table.dataTable tfoot td {
            padding: 5px;
            border-top: 0px;
        }

        .page-titles {
            padding-bottom: 0px;
        }

        .dataTables_wrapper .dataTables_length select {
            color: #ccc8c8 !important;
            background-color: inherit;
        }

        .dataTables_wrapper .dataTables_filter input {
            color: #dad8d8 !important;
        }


        table.dataTable tbody tr.selected {
            background-color: #315eb1 !important;
            color: white !important;
        }

        label {
            margin-bottom: 0px !important;
        }

        .multiselect-container > li > a > label {
            padding: 4px 20px 3px 20px;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 7px;
        }

        .column_vis {
            height: 20px;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #383f48;
            border-radius: 5px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #2965b9;
            border-radius: 5px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


        div.dtsp-verticalContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes,
        div.dtsp-verticalContainer div.container {
            width: 20%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 0;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 26%;
        }

        div.dtsp-verticalPanes {
            margin-right: 10px;
        }

        div.dtsp-title {
            margin-right: 0px !important;
            margin-top: 13px !important;
        }

        input.dtsp-search {
            min-width: 0px !important;
            padding-left: 0px !important;
            margin: 0px !important;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes {
            flex-direction: column;
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes div.dtsp-searchPane {
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.container {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 80%;
        }

        div.dtsp-panesContainer {
            border: 1px solid transparent;
            border-radius: 6px;
            padding: 5px;
        }

        select {
            -webkit-appearance: none;
        }

        div.dtsp-narrow {
            flex-direction: column !important;
            background-color: #343a40;
        }

        div.dtsp-panesContainer button.dtsp-clearAll, div.dtsp-panesContainer button.dtsp-collapseAll, div.dtsp-panesContainer button.dtsp-showAll {
            border: none;
            background-color: #343a40;
            padding: 3px;
            border-radius: 5px;
        }

        div.dtsp-panesContainer button.dtsp-disabledButton {
            cursor: default !important;
            background-color: #343a40;
            padding: 3px;
            border-radius: 10px;
            color: white;
        }

        div.dtsp-panesContainer div.dataTables_wrapper div.dataTables_scrollBody {
            background: #343a40 !important;
            border-bottom: none;
        }

        /* An ugly trick to use a filter icon */
        .ui-icon-volume-off.ui-icon-filter {
            -ms-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
        }

        .modal.right .modal-dialog {
            position: fixed;
            margin: auto;
            width: 700px;
            height: 100%;
            -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
        }

        .modal.right .modal-content {
            height: 100%;
            overflow-y: auto;
        }

        .modal.right .modal-body {
            padding: 15px 15px 15px;
        }

        .modal.right.fade .modal-dialog {
            right: 0px;
            -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
        }

        .modal.right.fade.in .modal-dialog {
            right: 0;
        }

        /* ----- MODAL STYLE ----- */
        .modal-content {
            border-radius: 0;
            border: none;
        }

        .modal-header {
            border-bottom-color: #EEEEEE;
            background-color: #e5711d;
        }
        input.dtsp-search::placeholder {
            color: #a4a4a8 !important;
        }
        .dtsp-nameColumn .dropdown-toggle::after{
            display: none;
            }
        #tlrep_table_t3300 tr > td{
            text-align: center;
            }
        #tlrep_table_t3300 tr > td:nth-child(2),
        #tlrep_table_t3300 tr > td:nth-child(3){
            text-align: left;
            }
    </style>
    <div class="row page-titles">
        <div class="col-md-6 col-4 float-left">
            <h3 class="text-themecolor mb-0 mt-2 re-seletct" style="text-transform: capitalize;"></h3>
        </div>
        <div class="col-md-6 col-8 text-right pt-1">
            <div class="btn-group mb-2 mr-2">
                <input type="hidden" name="lead">
                <input type="date" name="from_date" class="btn btn-outline-info" placeholder="dd/mm/yyyy" value="">
                <input type="date" name="to_date" class="btn btn-outline-info" placeholder="dd/mm/yyyy" value="">
                <button type="button" class="btn btn-info run-filter"><i class="mdi mdi-arrow-right"></i></button>
            </div>
            <div class="btn-group mb-2 mr-2" role="group" aria-label="Button group with nested dropdown">
                <button class="column_filter btn btn-warning" title="Filters" data-toggle="button" aria-pressed="true"><i class="mdi mdi-filter" ></i> Filters</button>
                <button class="btn btn-warning" title="Export to Excel" onclick="export_to_excel()"><i class="mdi mdi-cloud-download" ></i> Export to EXCEL</button>
            </div>
        </div>
    </div>
{% endblock bread_crumb %}


{% block content %}
    <div class="container-fluid row">

        <!-- Shots Table View -->
        <div class="col-lg-12" id="shots_list_view">
            <div class="card table-x-viewer">

                <table id="shots_table" class="table display no-wrap" style="width:100%">

                </table>

            </div>
        </div>
        <div class="col-md-3 col-2 card" id="filter_div"
             style="display: none; height:1000px; overflow-y: auto;margin: 0px;">
            <!-- <h6><i onclick="header_vis(this)" class="ti-angle-right"></i> Header Visibility</h6>
            <div class="card" id="header_filter" style="display: none; height:200px; overflow-y: scroll; border-bottom: 1px solid #494848;border-radius: 0px">
                <div class="card-body">
                    <input type="text" class="form-control column_vis" id="search_header" onkeyup="search_column()" placeholder="Search for...">
                    
                </div>
            </div> -->
            <div class="card">
                <div class="card-body">
                    <!-- <div class="form-group row">
                        <label for="min" class="col-4 col-form-label">ETA FROM</label>
                        <div class="col-8">
                            <input class="form-control" type="text" id="min" name="min">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="max" class="col-4 col-form-label">ETA TO</label>
                        <div class="col-8">
                            <input class="form-control" type="text" id="max" name="max">
                        </div>
                    </div> -->
                    <div class="dtsp-verticalContainer">
                        <div class="dtsp-verticalPanes">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
{% block page_scripts %}
    <!--OFX Core JavaScript -->
    <script src="{% static 'ofx/core.js' %}"></script>
    <!-- End Core Javascript -->
    <script src="{% static 'template/assets/plugins/popper/popper.min.js' %}"></script>

    <script src="{% static 'third_party/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Responsive-2.3.0/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Responsive-2.3.0/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Buttons-2.2.3/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Buttons-2.2.3/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Bootstrap-5-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/custom_js/datatables_searchPane.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Select-1.4.0/js/dataTables.select.min.js' %}"></script>
    <!-- <script src="{% static 'template/assets/plugins/moment/moment.js' %}"></script> -->
    <script src="{% static 'third_party/DataTables/DateTime-1.1.2/js/dataTables.dateTime.min.js' %}"></script>

    <script src="{% static 'main/jquery-ui.min.js' %}"></script>
    <script src="{% static 'main/jquery.ui-contextmenu.min.js' %}"></script>
    <script src="{% static 'main/dataTables.colReorder.min.js' %}"></script>
    <script src="{% static 'main/fnFilterClear.js' %}"></script>
    <script>
        // var defaultDays = 30; //Days 
        // var instelDate = moment().subtract(defaultDays,'d').format("YYYY-MM-DD");
        // var getKeys = getGetParam({'from_date':instelDate+'T00:00:00.000000','to_date':moment().format("YYYY-MM-DD")+'T23:59:59.999999'});
        var getKeys = getGetParam({'lead':'SUPERVISOR','from_date':moment().startOf('month').format("YYYY-MM-DD")+'T00:00:00.000000','to_date':moment().endOf('month').format("YYYY-MM-DD")+'T23:59:59.999999'});
        $('input[name="lead"]').attr("value",getKeys.lead);
        $.each(getKeys,function(x,e){
            if(['from_date','to_date'].indexOf(x)!=-1){
                $('input[name="'+x+'"]').attr("value",moment(e).format('YYYY-MM-DD'));
                }
            });
        $('.text-themecolor').html(getKeys.lead.toLowerCase()+"'s Report");
        $(document).on('click', '.run-filter',function(e){
            var DatDef = moment($('input[name="to_date"]').val()+'T23:59:59.999999').diff(moment($('input[name="from_date"]').val()+'T00:00:00.000000'), 'days'),
                fil = [];
            if(DatDef<=90){
                $(this).parent().find('input').each(function(e){
                    if($(this).val().length>0){
                        if($(this).attr('name')==='from_date'){
                            fil.push($(this).attr('name')+'='+$(this).val()+'T00:00:00.000000');
                            }else if($(this).attr('name')==='to_date'){
                                fil.push($(this).attr('name')+'='+$(this).val()+'T23:59:59.999999');
                                }else{
                                    fil.push($(this).attr('name')+'='+$(this).val());
                                    }
                        }
                    });
                var lin = fil.join("&");
                let url = '/production/leadreports/'+(fil.length>0?'?':'')+lin;
                window.location = url;
                }else{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Date range more than 90 days not allowed',
                        });
                    }
            });
        var getDeps = ["{{user.employee.department}}"];
        $.each(crossRoles.departments,function(z,e){
            if(getDeps.indexOf(e.name)==-1){
                getDeps.push(e.name);
                }
            });
        $(".column_filter").click(function (e) {
            var x = document.getElementById("filter_div");
            if (x.style.display === "none") {
                $('.col-lg-12').addClass('col-lg-9').removeClass('col-lg-12')
                x.style.display = "block";
            } else {
                x.style.display = "none";
                $('.col-lg-9').addClass('col-lg-12').removeClass('col-lg-9')
            }
        });

        var artistId_arr = [];
        var artistInfo_arr = {};
        

        var tableParent = $('.table-x-viewer'),
            tableFilter = $('.dtsp-verticalPanes'),
            table = null;
        function getBgColor(range=100,valX=10){
            rDx = (100/range)*valX;
            let lx = ['danger','warning','info','primary','success'], status = parseInt(rDx);
            return (`<span class="text-`+lx[(status<25 ? 0 : (status<50 ? 1 : (status<75 ? 2 : (status<100 ? 3 : 4))))]+`" >` + parseFloat(valX.toFixed(2)).toFixed(2) + `</span>`)
            }
        var tableColms = [];
        tableColms.push({
            cell: {
                    data: "leadInfo.id",
                    render: function (data, type, row, meta) {
                        return ('<input type="checkbox" name="empCheckbox" class="emp_checkbox" value="' +data +'">');
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: false,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "employee_id", title: "EMPLOYEE ID", data: 'leadInfo.employee_id',
                    render: function (data, type, row, meta) {
                        return `<span style="cursor: pointer;" onclick='export_to_excel("`+row.leadInfo.id+`")'>`+data+`</span>`;
                        }
            
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "fullName", title: "EMPLOYEE NAME", data: 'leadInfo.fullName',
                    render: function (data, type, row, meta) {
                        return `<a style="color: #fff;" href="/production/myreport/?role=`+getKeys.lead+`&teamlead_id=`+row.leadInfo.id+`&from_date=`+moment(getKeys.from_date).format("YYYY-MM-DD")+'&to_date='+moment(getKeys.to_date).format("YYYY-MM-DD")+`" >`+data+`</a>`;
                        }
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "department", title: "DEPARTMENT", data: 'leadInfo.department'},
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "role", title: "DESIGNATION", data: 'leadInfo.role'},
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                    name: "creation_date", title: "DOJ", data: 'leadInfo.creation_date',
                    render: function (data, type, row, meta) {
                        return moment(data).format("DD-MM-YYYY");
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: false,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                    name: "doe", title: "DOE", data: 'leadInfo.doe',
                    render: function (data, type, row, meta) {
                        return data!=null?moment(data).format("DD-MM-YYYY"):'<span class="text-warning">N/A</span>';
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: false,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "tmd", title: "ARTISTS", data: 'artistsCount'
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "leaves", title: "TEAM ABILITY", data: 'artistManday',
                render: function (data, type, row, meta) {
                    return data.toFixed(1);
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "workingDays", title: "TOTAL WORKING DAYS", data: null,
                render: function (data, type, row, meta) {
                    return (row.artistWorkingDays+row.artistLeaves)!=0? (row.artistWorkingDays+row.artistLeaves).toFixed(1):'<span class="text-warning">N/A</span>';
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "presentDays", title: "TOTAL PRESENT DAYS", data: null,
                render: function (data, type, row, meta) {
                    return row.artistWorkingDays!=0? row.artistWorkingDays.toFixed(1):'<span class="text-warning">N/A</span>';
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "leaves", title: "TOTAL LEAVES", data: 'artistLeaves',
                render: function (data, type, row, meta) {
                    return data.toFixed(1);
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "tmd", title: "TARGET MANDAYS", data: 'artistTMD',
                render: function (data, type, row, meta) {
                    return data.toFixed(2);
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "amd", title: "ACHIEVED MAN DAYS", data: 'shotsAMD',
                render: function (data, type, row, meta) {
                    return getBgColor(row.artistTMD,row.shotsAMD);
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "pmd", title: `<i style="font-style: initial;" title="ACHIEVED MAN DAYS - TARGET MANDAYS">DIFFERENCE</i>`, data: null,
                render: function (data, type, row, meta) {
                    let r = parseFloat((row.shotsAMD-row.artistTMD).toFixed(2));
                    let lx = ['danger','info','success'];
                    return (`<span class="text-`+lx[(r>0 ? 2 : (r==0 ? 1 :0))]+`" >` + (r>0?'+':'') + r.toFixed(2) + `</span>`);
                    },
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "pmdDeff", title: "ACHIEVEMENT", data: null,
                render: function (data, type, row, meta) {
                    let r = parseFloat((row.shotsAMD-row.artistTMD).toFixed(2));
                    let lx = ['Negative','Neutral','Positive'];
                    let lx2 = ['danger','info','success'];
                    return (`<span class="text-`+lx2[(r>0 ? 2 : (r==0 ? 1 :0))]+`" >` + lx[(r>0 ? 2 : (r==0 ? 1 :0))] + `</span>`);
                    },
                },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: false,
            class:"",
            });
        tableColms.push({
            cell: {name: "location", title: "LOCATION", data: null,
                render: function (data, type, row, meta) {
                    var rowX = row.leadInfo;
                    return rowX.location==null?'GLOBAL':(typeof rowX.location.name != "undefined"? rowX.location.name:rowX.location);
                    }
                },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        var ETA_filter_index = 0,
            tableX = null;
        function setTable(_tData=[]){
            artistId_arr = [];
            artistInfo_arr = {};
            tableX = $(`<table id="tlrep_table_t5300" class="table display no-wrap" style="width:100%"></table>`);
            $(tableParent).html('');
            $(tableFilter).html('');
            $(tableParent).append($('<div class="reload-table-row"></div>'));
            $(tableParent).append($(tableX));
            var cols = [], searchPanes = [], _addClass = [];
            $.each(tableColms,function(z,e){
                cols.push(e.cell);
                if(e.isETAFilter){
                    ETA_filter_index = parseInt(z);
                    }
                if(!e.isFilter){
                    searchPanes.push(parseInt(z));
                    }
                if(e.class.length>0){
                    _addClass.push({className: e.class, "targets": [parseInt(z)]});
                    }
                });
            
            var columnDefs = [{
                searchPanes: {
                    show: false
                    },
                targets: searchPanes
                    }];
            $.each(_addClass,function(z,e){
                columnDefs.push(e);
                });
            table = $(tableX).DataTable({
                aaData: JSON.parse(JSON.stringify(_tData)),
                columnDefs: columnDefs,
                searchPanes: {
                    initCollapsed: true,
                    cascadePanes: true,
                    layout: 'columns-1',
                    controls: false
                },
                dom: '<"dtsp-dataTable"frtip>',
                "searching": true,
                'language': {
                    'infoEmpty': "No records available - Please Select Department and Date Range to view data",
                    'loadingRecords': '&nbsp;',
                    'processing': 'Loading...'
                    },
                columns: cols,
                select: false,
                order: [[1, 'asc']],
                scrollResize: true,
                scrollX: true,
                scrollCollapse: true,
                buttons: ["pageLength"],
                dom: 'Bfrtip',
                lengthMenu:[
                    [10,25,50,100],
                    ['10','25','50','100'],
                    ],
                "paging": true,
                "pageLength": 25,
                "bSortClasses": false,
                stateSave: true,
                deferLoading: 10,
                });
            table.searchPanes();
            $.each(tableColms,function(z,e){
                if(!e.visibility){
                    var column = table.column(z);
                    column.visible(0);
                    }
                });
            $(tableFilter).append(table.searchPanes.container());
            
            }

        $(document).ready(function () {
            $.ajax({
                url: '/api/v2/employeerolebinding/',
                type: 'GET',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                async: true, //displays data after loading the page
                processing: false,
                data: Object.assign({employee__role__name:"VFX ARTIST"},(getKeys.lead=="HEAD OF DEPARTMENT"?{}:{role__name__in:getKeys.lead})),
                beforeSend: function(request) {
                    request.setRequestHeader("required", JSON.stringify(["id", "employee__id", "employee__location__id", "employee__location__name", "employee__grade__id","employee__grade__a_man_day","bindWith__id","employee__department__id","employee__department__name"]));
                    },
                success: function (teamLeadBind) {
                    $.ajax({
                        url: '/api/v2/leaddailystatistics/',
                        type: 'GET',
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        async: true, //displays data after loading the page
                        processing: false,
                        data: {role__name__in: getKeys.lead, logDate__range:moment(getKeys.from_date).format("YYYY-MM-DD")+'|'+moment(getKeys.to_date).format("YYYY-MM-DD")},
                        beforeSend: function(request) {
                            request.setRequestHeader("required", JSON.stringify([
                                'id',
                                'lead__id',
                                'lead__fullName',
                                'lead__employee_id',
                                'lead__department__id',
                                'lead__department__name',
                                'lead__role__id',
                                'lead__role__name',
                                'lead__location__id',
                                'lead__location__name',
                                'lead__creation_date',
                                'lead__doe',
                                'total_workdays',
                                'tmd',
                                'amd',
                                'shot_amd',
                                'leaves',
                                'logDate']));
                            },
                        success: function (teamLeadReport) {
                            var _teadData = [],
                                tls = {};
                            let usedArtits = [];
                            $.each(teamLeadReport,function(_z,tl){
                                tls['id_'+tl.lead.id] = JSON.parse(JSON.stringify({
                                    id: tl.lead.id,
                                    fullName:tl.lead.fullName,
                                    employee_id:tl.lead.employee_id,
                                    department: tl.lead.department!=null?tl.lead.department.name:"N/A",
                                    role:tl.lead.role!=null?tl.lead.role.name:"N/A",
                                    creation_date:tl.lead.creation_date,
                                    location:tl.lead.location!=null?tl.lead.location.name:"N/A",
                                    doe:tl.lead.doe
                                    }));
                                });
                            $.each(tls,function(_z,tl){
                                let _tlData = {
                                    leadInfo: {
                                        id: tl.id,
                                        fullName:tl.fullName,
                                        employee_id:tl.employee_id,
                                        department:tl.department,
                                        role:tl.role,
                                        creation_date:tl.creation_date,
                                        location:tl.location,
                                        doe:tl.doe
                                        },
                                    artistsCount:0,
                                    artistManday:0,
                                    artistWorkingDays:0,
                                    artistLeaves:0,
                                    artistTMD:0,
                                    artistAMD:0,
                                    shotsAMD:0,
                                    }, tbody = '', _artists = [], _artManday = 0;

                                    Object.assign({employee__role__name:"VFX ARTIST"},(getKeys.lead=="HEAD OF DEPARTMENT"?{}:{role__name__in:getKeys.lead})),
                                $.each(teamLeadBind,function(_bx,_biArt){
                                    if(((getKeys.lead=="HEAD OF DEPARTMENT" && _biArt.employee.department.name == tl.department && _biArt.employee.location.name == tl.location) || (getKeys.lead!="HEAD OF DEPARTMENT" && _biArt.bindWith.id == tl.id)) && usedArtits.indexOf(_biArt.employee.id)==-1 && _biArt.employee.grade != null && _biArt.employee.grade.a_man_day != null){
                                        // usedArtits.push(_biArt.employee.id);
                                        if(_artists.indexOf(_biArt.employee.id)==-1){
                                            _artists.push(_biArt.employee.id);
                                            _artManday = _artManday + parseFloat(_biArt.employee.grade.a_man_day);
                                            }
                                        }
                                    });
                                _tlData.artistsCount = _artists.length;
                                _tlData.artistManday = _artManday;
                                $.each(teamLeadReport,function(_bx,_biArt){
                                    if(_biArt.lead.id == tl.id){
                                        _tlData.artistTMD = _tlData.artistTMD + _biArt.tmd;
                                        _tlData.artistAMD = _tlData.artistAMD + _biArt.amd;
                                        _tlData.shotsAMD = _tlData.shotsAMD + _biArt.amd;
                                        // _tlData.shotsAMD = _tlData.shotsAMD + _biArt.shot_amd;
                                        _tlData.artistWorkingDays = _tlData.artistWorkingDays + _biArt.total_workdays;
                                        _tlData.artistLeaves = _tlData.artistLeaves + _biArt.leaves;
                                        }
                                    });
                                _teadData.push(JSON.parse(JSON.stringify(_tlData)));
                                });
                            // console.log(_teadData);
                            setTable(_teadData);
                            },
                        error: function (jqXHR, exception) {
                            console.log(jqXHR.responseText)
                            }
                        });
                    },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.responseText)
                    }
                });
            /*$.ajax({
                url: '/api/hrm/employee/',
                type: 'GET',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                async: true, //displays data after loading the page
                processing: false,
                data: {role:getKeys.lead},
                success: function (tls) {
                    $.ajax({
                        url: '/api/v2/employeerolebinding/',
                        type: 'GET',
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        async: true, //displays data after loading the page
                        processing: false,
                        data: Object.assign({employee__role__name:"VFX ARTIST"},(getKeys.lead=="HEAD OF DEPARTMENT"?{}:{role__name__in:getKeys.lead})),
                        beforeSend: function(request) {
                            request.setRequestHeader("required", JSON.stringify(["id", "employee__id", "employee__location__id", "employee__location__name", "employee__grade__id","employee__grade__a_man_day","bindWith__id","employee__department__id","employee__department__name"]));
                            },
                        success: function (teamLeadBind) {
                            $.ajax({
                                url: '/api/v2/leaddailystatistics/',
                                type: 'GET',
                                dataType: "json",
                                contentType: 'application/json; charset=utf-8',
                                async: true, //displays data after loading the page
                                processing: false,
                                data: {role__name__in: getKeys.lead, logDate__range:moment(getKeys.from_date).format("YYYY-MM-DD")+'|'+moment(getKeys.to_date).format("YYYY-MM-DD")},
                                beforeSend: function(request) {
                                    request.setRequestHeader("required", JSON.stringify(['id','lead__id','total_workdays','tmd','amd','shot_amd','leaves','logDate']));
                                    },
                                success: function (teamLeadReport) {
                                    var _teadData = [];
                                    let usedArtits = [];
                                    $.each(tls,function(_z,tl){
                                        let _tlData = {
                                            leadInfo: {
                                                id: tl.id,
                                                fullName:tl.fullName,
                                                employee_id:tl.employee_id,
                                                department:tl.department,
                                                creation_date:tl.creation_date,
                                                location:tl.location
                                                },
                                            artistsCount:0,
                                            artistManday:0,
                                            artistWorkingDays:0,
                                            artistLeaves:0,
                                            artistTMD:0,
                                            artistAMD:0,
                                            shotsAMD:0,
                                            }, tbody = '', _artists = [], _artManday = 0;

                                            Object.assign({employee__role__name:"VFX ARTIST"},(getKeys.lead=="HEAD OF DEPARTMENT"?{}:{role__name__in:getKeys.lead})),
                                        $.each(teamLeadBind,function(_bx,_biArt){
                                            if(((getKeys.lead=="HEAD OF DEPARTMENT" && _biArt.employee.department.name == tl.department && _biArt.employee.location.name == tl.location) || (getKeys.lead!="HEAD OF DEPARTMENT" && _biArt.bindWith.id == tl.id)) && usedArtits.indexOf(_biArt.employee.id)==-1 && _biArt.employee.grade != null && _biArt.employee.grade.a_man_day != null){
                                                // usedArtits.push(_biArt.employee.id);
                                                if(_artists.indexOf(_biArt.employee.id)==-1){
                                                    _artists.push(_biArt.employee.id);
                                                    _artManday = _artManday + parseFloat(_biArt.employee.grade.a_man_day);
                                                    }
                                                }
                                            });
                                        _tlData.artistsCount = _artists.length;
                                        _tlData.artistManday = _artManday;
                                        $.each(teamLeadReport,function(_bx,_biArt){
                                            if(_biArt.lead.id == tl.id){
                                                _tlData.artistTMD = _tlData.artistTMD + _biArt.tmd;
                                                _tlData.artistAMD = _tlData.artistAMD + _biArt.amd;
                                                _tlData.shotsAMD = _tlData.shotsAMD + _biArt.amd;
                                                // _tlData.shotsAMD = _tlData.shotsAMD + _biArt.shot_amd;
                                                _tlData.artistWorkingDays = _tlData.artistWorkingDays + _biArt.total_workdays;
                                                _tlData.artistLeaves = _tlData.artistLeaves + _biArt.leaves;
                                                }
                                            });
                                        _teadData.push(JSON.parse(JSON.stringify(_tlData)));
                                        });
                                    // console.log(_teadData);
                                    setTable(_teadData);
                                    },
                                error: function (jqXHR, exception) {
                                    console.log(jqXHR.responseText)
                                    }
                                });
                            },
                        error: function (jqXHR, exception) {
                            console.log(jqXHR.responseText)
                            }
                        });
                    },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.responseText)
                    }
                });*/
            });
        var depReaded=[];
        $(document).on('click', 'input:checkbox[class=emp_checkbox]', function(e){
            let value = $(this).val(), indx = artistId_arr.indexOf(value), newX = [];
            if(indx==-1){
                artistId_arr.push(value);
                }else{
                    delete artistId_arr[indx];
                    }
            $.each(artistId_arr,function(z,e){
                if(e!=null){
                    newX.push(e);
                    }
                });
            artistId_arr = JSON.parse(JSON.stringify(newX));
            console.log(artistId_arr);
            });
        $(document).on('click', '.paging_simple_numbers, #filter_div, .page-titles', function(e){
            $('input:checkbox[class=emp_checkbox]').each(function(e){
                let value = $(this).val();
                if(artistId_arr.indexOf(value)!=-1){
                    $(this).attr('checked',true);
                    }else{
                        $(this).attr('checked',false);
                        }
                });
            });

        // Export Production sheet to Excel
        function export_to_excel(rowId=null) {
            var inputTags = [], _rowIds = [];
            table.rows( { filter: 'applied' } ).every( function () {
                let dxr = this.data();
                _rowIds.push(dxr.leadInfo.id);
                });
            inputTags.push(`<input name="lead" value="`+getKeys.lead+`"/>`);
            inputTags.push(`<input name="from_date" value="`+moment(getKeys.from_date).format('YYYY-MM-DD')+`"/>`);
            inputTags.push(`<input name="to_date" value="`+moment(getKeys.to_date).format('YYYY-MM-DD')+`"/>`);
            if(rowId==null){
                inputTags.push(`<input name="employees" value="`+(artistId_arr.length>0?artistId_arr:_rowIds).join('|')+`"/>`);
                }else{
                    table.rows().every( function () {
                        let dxr = this.data();
                        if(String(dxr.leadInfo.id)==String(rowId)){
                            inputTags.push(`<input name="employee_name" value="`+dxr.leadInfo.fullName+`"/>`);
                            }
                        });
                    inputTags.push(`<input name="employee" value="`+rowId+`"/>`);
                    }
                    var shots = [];
            var from = $(`<form action="/production/leadreports_export/" method="POST" target="_blank" style="display:none;">
                {% csrf_token %}
                `+inputTags.join('')+`
                </form>`);
            $('body').append(from);
            $(from).submit();
            $(from).remove();
            }
    </script>
{% endblock page_scripts %}