{% extends 'main/base.html' %}


{% block bread_crumb %}

{% endblock bread_crumb %}

{% block content %}
    <div class="container-fluid">
        <div class="row el-element-overlay">
            <div class="col-md-12">
                <h4 class="card-title">Projects</h4>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1"><img src="/static/template/assets/images/ofx_logo1.png"
                                                                      alt="user"/>
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                            class="icon-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h3 class="box-title">GRM</h3>
                            <div class="progress" style="margin-left:20px;height: 10px;width: 80%">
                                <div class="progress-bar"
                                     style="width:70%;background-color:#cc0c0c;color: white;font-weight: bold"
                                     role="progressbar">70%
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="card">
                                        <div>
                                            <small>Total Shots: 117</small>
                                        </div>
                                        <div>
                                            <small>Total Shots: 117</small>
                                        </div>
                                        <div>
                                            <small>Total Shots: 117</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1"><img src="/static/template/assets/images/ofx_logo1.png"
                                                                      alt="user"/>
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                            class="icon-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <div class="progress" style="height: 15px;width: 30%">
                                <div class="progress-bar"
                                     style="width:70%;background-color:#806c44;color: white;font-weight: bold"
                                     role="progressbar">70%
                                </div>
                            </div>
                            <h3 class="box-title">GRM</h3> <small>Total Shots: 117</small>
                            <br/></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1"><img src="/static/template/assets/images/ofx_logo1.png"
                                                                      alt="user"/>
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                            class="icon-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <div class="progress" style="height: 15px;width: 30%">
                                <div class="progress-bar"
                                     style="width:70%;background-color:#806c44;color: white;font-weight: bold"
                                     role="progressbar">70%
                                </div>
                            </div>
                            <h3 class="box-title">GRM</h3> <small>Total Shots: 117</small>
                            <br/></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1"><img src="/static/template/assets/images/ofx_logo1.png"
                                                                      alt="user"/>
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                            class="icon-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <div class="progress" style="height: 15px;width: 30%">
                                <div class="progress-bar"
                                     style="width:70%;background-color:#806c44;color: white;font-weight: bold"
                                     role="progressbar">70%
                                </div>
                            </div>
                            <h3 class="box-title">GRM</h3> <small>Total Shots: 117</small>
                            <br/></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1"><img src="/static/template/assets/images/ofx_logo1.png"
                                                                      alt="user"/>
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                            class="icon-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <div class="progress" style="height: 15px;width: 30%">
                                <div class="progress-bar"
                                     style="width:70%;background-color:#806c44;color: white;font-weight: bold"
                                     role="progressbar">70%
                                </div>
                            </div>
                            <h3 class="box-title">GRM</h3> <small>Total Shots: 117</small>
                            <br/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}