{% extends 'main/base.html' %}
{% load static %}

{% block bread_crumb %}
    <link href="{% static 'template/assets/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'third_party/DataTables/DataTables-1.12.1/css/jquery.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Responsive-2.3.0/css/responsive.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Responsive-2.3.0/css/responsive.bootstrap5.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'third_party/DataTables/Buttons-2.2.3/css/buttons.dataTables.min.css' %}"
          type="text/css"/>
    <link rel='stylesheet' href="{% static 'template/assets/plugins/multiselect/css/multi-select.css' %}"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'template/assets/plugins/toast-master/css/jquery.toast.css' %}" type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'third_party/DataTables/custom_css/datables_searchpane.css' %}" type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'third_party/DataTables/Select-1.4.0/css/select.dataTables.min.css' %}" type="text/css"/>
    <link href="{% static 'third_party/DataTables/DataTables-1.12.1/css/dataTables.jqueryui.css' %}" rel="stylesheet"
          type="text/css"/>
<!--?    <link href="https://cdn.datatables.net/colreorder/1.5.6/css/colReorder.dataTables.min.css' %}" rel="stylesheet"-->
<!--?          type="text/css"/>-->

    <style>
        .form-control {
            color: #fffcfc !important;
        }

        .container-fluid {
            padding: 10px !important;
        }

        .row {
            margin: 0px !important;
        }

        /* An ugly trick to use a filter icon */
        .ui-icon-volume-off.ui-icon-filter {
            -ms-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
        }

        .card {
            padding: 10px;
            background: #272c33 !important;
            color: white;
            margin-bottom: 10px !important;
        }

        .col-md-12 {
            padding: 0px !important;
        }

        .col-lg-10 {
            padding: 0px !important;
        }

        .card-body {
            padding: 0rem !important;
        }

        #filter_div {
            padding: 10px;
            background: #272c33 !important;
            color: white;
        }

        .col-lg-12 {
            padding: 0px !important;
        }

        .col-lg-10 {
            padding: 0px !important;
        }

        .card-body {
            padding: 0rem !important;
        }
        div.dt-button-collection button.dt-button:active:not(.disabled),
        div.dt-button-collection button.dt-button.active:not(.disabled),
        div.dt-button-collection div.dt-button:active:not(.disabled),
        div.dt-button-collection div.dt-button.active:not(.disabled),
        div.dt-button-collection a.dt-button:active:not(.disabled),
        div.dt-button-collection a.dt-button.active:not(.disabled){
            background-color: #272c33!important;
            background: #272c33!important;
            }

        table.dataTable tbody tr {
            background-color: #272c33 !important;
            font-size: small;
            font-weight: normal;
        }

        table.dataTable tr.odd {
            background-color: #343a40 !important;
        }

        table.dataTable td {
            border-bottom: 0.2px !important;
            border-color: grey !important;
        }

        table.dataTable thead {
            color: #f6f5f5;
            font-weight: normal;
            font-size: small;
        }

        .dataTables_length, .dataTables_info, .dataTables_filter {
            color: #a2a1a1 !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 2px;
            background: white !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            color: #fff5f5 !important;
            background-color: #e5711d !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: rgb(183, 110, 5) !important;
        }

        .dataTables_wrapper .dataTables_paginate .ellipsis {
            color: white;
        }

        tfoot input {
            width: 100% !important;
            padding: 3px !important;
            box-sizing: border-box !important;
        }

        table.dataTable tfoot th, table.dataTable tfoot td {
            padding: 5px;
            border-top: 0px;
        }

        .page-titles {
            padding-bottom: 0px;
        }

        .dataTables_wrapper .dataTables_length select {
            color: #ccc8c8 !important;
            background-color: inherit;
        }

        .dataTables_wrapper .dataTables_filter input {
            color: #dad8d8 !important;
        }


        table.dataTable tbody tr.selected {
            background-color: #315eb1 !important;
            color: white !important;
        }

        label {
            margin-bottom: 0px !important;
        }

        .multiselect-container > li > a > label {
            padding: 4px 20px 3px 20px;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 7px;
        }

        .column_vis {
            height: 20px;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #383f48;
            border-radius: 5px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #2965b9;
            border-radius: 5px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        svg {
            width: 100px;
            height: 100px;
            margin: 20px;
            display: inline-block;
            background-color: #0A0A0A;
        }

        div.dtsp-verticalContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes,
        div.dtsp-verticalContainer div.container {
            width: 20%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 0;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 26%;
        }

        div.dtsp-verticalPanes {
            margin-right: 10px;
        }

        div.dtsp-title {
            margin-right: 0px !important;
            margin-top: 13px !important;
        }

        input.dtsp-search {
            min-width: 0px !important;
            padding-left: 0px !important;
            margin: 0px !important;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes {
            flex-direction: column;
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes div.dtsp-searchPane {
            flex-basis: 0px;
        }

        div.dtsp-verticalContainer div.container {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 80%;
        }

        div.dtsp-panesContainer {
            border: 1px solid transparent;
            border-radius: 6px;
            padding: 5px;
        }

        select {
            -webkit-appearance: none;
        }

        div.dtsp-narrow {
            flex-direction: column !important;
            background-color: #343a40;
        }

        div.dtsp-panesContainer button.dtsp-clearAll, div.dtsp-panesContainer button.dtsp-collapseAll, div.dtsp-panesContainer button.dtsp-showAll {
            border: none;
            background-color: #343a40;
            padding: 3px;
            border-radius: 5px;
        }

        div.dtsp-panesContainer button.dtsp-disabledButton {
            cursor: default !important;
            background-color: #343a40;
            padding: 3px;
            border-radius: 10px;
            color: white;
        }

        div.dtsp-panesContainer div.dataTables_wrapper div.dataTables_scrollBody {
            background: #343a40 !important;
            border-bottom: none;
        }
        .view-shot-version.active{
            background-color: #009efb !important;
            }
        .dtsp-nameCont img{
            max-width: 25px;
            }
        .version-item > button{
            position: absolute;
            margin: auto;
            bottom: 20px;
            right: 10px;
            width: 40px;
            height: 40px;
            opacity: 0;
            -webkit-transition: .4s;
            transition: .4s;
            }
        .version-item:hover > button{
            opacity: 1;
            }

    </style>
    <div class="row page-titles" style="margin-left: -10px !important; margin-right: -10px !important; margin-top: -10px !important; background: #272c33; padding-top: 5px;">
        <div class="col-2 float-left">
            <h3 class="text-themecolor mb-0 mt-2 re-seletct">Version Report</h3>
        </div>
        <div class="col-10 text-right pt-1">
            <div class="btn-group mb-2 mr-2" role="group" aria-label="Button group with nested dropdown">
                <!-- <button class="column_filter btn btn-warning" title="Filters" data-toggle="button" aria-pressed="true"><i class="mdi mdi-filter" ></i> Filters</button> -->
                <button class="btn btn-primary export-to-excel" title="Export to Excel" ><i class="mdi mdi-cloud-download" ></i> Export to EXCEL</button>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center pt-2 pb-0" style="border-top: 1px solid #5e6773;">
            <div class="btn-group mb-2 mr-2">
                <select name="shot__sequence__project__client__id" style="text-align: left; height: 33px; padding: 0px 10px;" class="btn btn-outline-info version-report-input-tag"></select>
            <!-- </div>
            <div class="btn-group mb-2 mr-2"> -->
                <select name="shot__sequence__project__id" style="text-align: left; height: 33px; padding: 0px 10px;" class="btn btn-outline-info version-report-input-tag"><option value="">All Projects</option></select>
            </div>
            <div class="btn-group mb-2 mr-2">
                <select name="shot__task_type__id" style="text-align: left; height: 33px; padding: 0px 10px;" class="btn btn-outline-info version-report-input-tag"><option value="">All Department</option></select>
            </div>
            <div class="btn-group mb-2 mr-2">
                <select name="num_type" style="text-align: left; height: 33px; padding: 0px 10px;" class="btn btn-outline-info version-report-input-tag">
                    <option value="-1">Get All Versions</option>
                    <option value="1">Equal to</option>
                    <option value="2">Greater than</option>
                    <option value="3">Greater than or Equal to</option>
                    <option value="4">Less than</option>
                    <option value="5">Less than or Equal to</option>
                    <option value="0">Range</option>
                </select>
            </div>
            <div class="btn-group mb-2 mr-2">
                <input type='text' style="text-align: left; height: 33px; padding: 0px 10px;" name="modified_date__range" data-type="date-range" class="btn btn-outline-info daterange notset" value="All Dates" />
            </div>
            <div class="btn-group mb-2 mr-2">
                <button type="button" style="height: 33px;padding: 0px 10px;" class="btn btn-info run-filter">Apply <i class="mdi mdi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
{% endblock bread_crumb %}


{% block content %}
    <div class="container-fluid row">
        <div class="col-md-12 reports-view">
            <div class="row" style="margin-right: -15px!important; margin-left: -15px!important;">
                <div class="text-center" style="position: relative;margin: auto;top: 100px;width: 100%;">
                    <h3 class="text-uppercase">Welcome!</h3>
                    <p class="text-muted mt-4 mb-4">Please Select Client and click on Apply to get Versions Report</p>
              </div>
            </div>
        </div>
        <div class="reports-table-view col-md-6" style="display: none;">
        </div>
    </div>
{% endblock content %}
{% block page_scripts %}
    <!--OFX Core JavaScript -->
    <script src="{% static 'ofx/core.js' %}"></script>
    <script src="{% static 'template/assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'third_party/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Responsive-2.3.0/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Responsive-2.3.0/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Buttons-2.2.3/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Buttons-2.2.3/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Bootstrap-5-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'template/assets/plugins/popper/popper.min.js' %}"></script>
    <script src="{% static 'template/assets/plugins/toast-master/js/jquery.toast.js' %}"></script>
    <script src="{% static 'third_party/DataTables/custom_js/datatables_searchPane.js' %}"></script>
    <script src="{% static 'third_party/DataTables/Select-1.4.0/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'main/dataTables.colReorder.min.js' %}"></script>
    <!-- <script src="{% static 'template/assets/plugins/moment/moment.js' %}"></script> -->
<!--?    <script src="https://cdn.datatables.net/colreorder/1.5.6/js/dataTables.colReorder.min.js' %}"></script>-->
    {% csrf_token %}
    <script>
        var reportsTab = $('.reports-view > .row'),
            reportsTableTab = $('.reports-table-view');

        function addReportVersion(e=null,clear=false){
            if(clear){
                $(reportsTab).empty();
                clearTable();
                }
            if(e!=null){
                $(reportsTab).prepend(`<div class="col-md-2 version-item p-1">
                        <a href="#" data-target="`+e.name+`" class="card view-shot-version">
                            <div class="box text-center">
                                <h1 class="font-light text-white r-tmd">`+e.name+`</h1>
                                <h6 class="text-white">Shots: `+e.shots.length+`</h6>
                            </div>
                        </a>
                        <button class="btn btn-info mdi mdi-cloud-download export-to-excel only-this" data-target="`+e.name+`" title="Export to Excel" ></button>
                    </div>`);
                }
            }
        function genVNumbers(str, max, isEnd = true){
            str = str.toString();
            return (isEnd?'V':'')+(str.length < max ? genVNumbers("0" + str, max,false) : str);
            }
        // console.log("genVNumbers",genVNumbers(1,3))
        var maxVersionCount = null;
        
        

        var stateSaveTagPrefix = 'version_report_input_',
            stateSaveFilters = {
                // 'modified_date__range': [
                //     moment().subtract(2, 'month').startOf('month').format("YYYY-MM-DD")+' 00:00:00.000000',
                //     moment().endOf('month').format("YYYY-MM-DD")+' 23:59:59.999999'
                //     ],
                'version__in':['','']
            };
        function setClientOptions(){
            var thisTag = $('.version-report-input-tag[name="shot__sequence__project__client__id"]'), thisTagName = $(thisTag).attr("name");
            var savedValue = localStorage.getItem(stateSaveTagPrefix+thisTagName);
            savedValue = savedValue==null?'':String(savedValue);
            stateSaveFilters[thisTagName] = savedValue;
            var oPtions = '<option value="">Select Client</option>';
            $.ajax({
                url: '/api/production/clients/',
                type: 'GET',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                async: true, //displays data after loading the page
                processing: false,
                data: {},
                success: function (response) {
                    var sortX = {};
                    $.each(response,function(x,e){
                        sortX[e.name] = JSON.parse(JSON.stringify(e));
                        });
                    const ordered = Object.keys(sortX).sort().reduce(
                        (obj, key) => { 
                            obj[key] = sortX[key]; 
                            return obj;
                        }, 
                        {}
                        );
                    $.each(ordered,function(z,e){
                        oPtions = oPtions+`<option value="`+e.id+`" >`+e.name+`</option>`;
                        });
                    $(thisTag).html(oPtions);
                    $(thisTag).val(savedValue);
                    },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.responseText)
                    }
                });
            }
        setClientOptions();
        function setProjectOptions(client=''){
            var thisTag = $('.version-report-input-tag[name="shot__sequence__project__id"]'), thisTagName = $(thisTag).attr("name");
            var savedValue = localStorage.getItem(stateSaveTagPrefix+thisTagName);
            savedValue = savedValue==null?'':String(savedValue);
            stateSaveFilters[thisTagName] = savedValue;
            var oPtions = '<option value="">All Projects</option>';
            if(client.length>0){
                $.ajax({
                    url: '/api/production/projects/'+client+'/',
                    type: 'GET',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    async: true, //displays data after loading the page
                    processing: false,
                    // data: {status:"IN PROGRESS"},
                    success: function (response) {
                        var sortX = {};
                        $.each(response,function(x,e){
                            sortX[e.name] = JSON.parse(JSON.stringify(e));
                            });
                        const ordered = Object.keys(sortX).sort().reduce(
                            (obj, key) => { 
                                obj[key] = sortX[key]; 
                                return obj;
                            }, 
                            {}
                            );
                        $('.run-filter').parent().show();
                        $.each(ordered,function(z,e){
                            oPtions = oPtions+`<option value="`+e.id+`" >`+e.name+`</option>`;
                            });
                        $(thisTag).html(oPtions);
                        $(thisTag).val(savedValue);
                        },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.responseText)
                        }
                    });
                }else{
                    $(thisTag).html(oPtions);
                    $(thisTag).val("");
                    }
            }
        setProjectOptions(stateSaveFilters["shot__sequence__project__client__id"]);
        $(document).on('change','.version-report-input-tag[name="shot__sequence__project__client__id"]',function(e){
            stateSaveFilters[$(this).attr("name")] = $(this).val();
            localStorage.setItem(stateSaveTagPrefix+$(this).attr("name"),$(this).val());
            stateSaveFilters["shot__sequence__project__id"] = '';
            localStorage.setItem(stateSaveTagPrefix+"shot__sequence__project__id",stateSaveFilters["shot__sequence__project__id"]);
            setProjectOptions($(this).val());
            });
        $(document).on('change','.version-report-input-tag[name="shot__sequence__project__id"]',function(e){
            stateSaveFilters[$(this).attr("name")] = $(this).val();
            localStorage.setItem(stateSaveTagPrefix+$(this).attr("name"),$(this).val());
            });
        
        function setDepartmentOptions(){
            var thisTag = $('.version-report-input-tag[name="shot__task_type__id"]'), thisTagName = $(thisTag).attr("name");
            var savedValue = localStorage.getItem(stateSaveTagPrefix+thisTagName);
            savedValue = savedValue==null?'':String(savedValue);
            stateSaveFilters[thisTagName] = savedValue;
            var oPtions = '<option value="">All Department</option>';
            $.each(ofx_page_data.taskTypes,function(z,e){
                oPtions = oPtions+`<option value="`+e.id+`" >`+e.name+`</option>`;
                });
            $(thisTag).html(oPtions);
            $(thisTag).val(savedValue);
            }
        setDepartmentOptions();
        $(document).on('change','.version-report-input-tag[name="shot__task_type__id"]',function(e){
            stateSaveFilters[$(this).attr("name")] = $(this).val();
            localStorage.setItem(stateSaveTagPrefix+$(this).attr("name"),$(this).val());
            });
        var lastPassX = false;
        function chkAndSetNumRange(bootCall=false){
            var options = '<option value="">Select Version</option>';
            if(maxVersionCount!=null){
                for($i=1;$i<=maxVersionCount;$i++){
                    options = options+`<option value="`+$i+`">`+genVNumbers($i,3)+`</option>`;
                    }
                }
            var thisTag = $('.version-report-input-tag[name="num_type"]'), thisTagName = $(thisTag).attr("name");
            var savedValue = localStorage.getItem(stateSaveTagPrefix+thisTagName);
            var num_type = savedValue==null?0:parseInt(savedValue);
            stateSaveFilters[$(thisTag).attr("name")] = num_type;
            if(bootCall==false){
                if(lastPassX != (num_type>0?true:false)){
                    stateSaveFilters['version__in'] = ['',''];
                    }
                }else{
                    $(thisTag).val(String(num_type));
                    var savedValue2 = localStorage.getItem(stateSaveTagPrefix+'version__in');
                    stateSaveFilters['version__in'] = savedValue2==null?stateSaveFilters['version__in']:JSON.parse(savedValue2);
                    }
            lastPassX = num_type>0?true:false;
            $(thisTag).parent().find('.version-report-input-tag[name="version__in"]').remove();
            if(stateSaveFilters['version__in'][0]==null||num_type<0){
                stateSaveFilters['version__in'][0] = '';
                }
            if(stateSaveFilters['version__in'][1]==null||num_type<0){
                stateSaveFilters['version__in'][1] = '';
                }
            localStorage.setItem(stateSaveTagPrefix+'version__in',JSON.stringify(stateSaveFilters['version__in']));
            if(num_type>=0){
                $(thisTag).parent().append(`<select style="text-align: left; height: 33px; padding: 0px 10px;" name="version__in" data-index="0" class="btn btn-outline-info version-report-input-tag" >`+options+`</select>`);
                $('.version-report-input-tag[name="version__in"][data-index="0"]').val(stateSaveFilters['version__in'][0]);
                }
            if(num_type==0){
                $(thisTag).parent().append(`<select style="text-align: left; height: 33px; padding: 0px 10px;" name="version__in" data-index="1" class="btn btn-outline-info version-report-input-tag" >`+options+`</select>`);
                $('.version-report-input-tag[name="version__in"][data-index="1"]').val(stateSaveFilters['version__in'][1]);
                }
            }
        // chkAndSetNumRange(true);
        $(document).on('change','.version-report-input-tag[name="num_type"]',function(e){
            stateSaveFilters[$(this).attr("name")] = $(this).val();
            localStorage.setItem(stateSaveTagPrefix+$(this).attr("name"),$(this).val());
            chkAndSetNumRange(false);
            });
        // var saved2 = localStorage.getItem(stateSaveTagPrefix+'modified_date__range');
        // stateSaveFilters['modified_date__range'] = saved2==null?stateSaveFilters['modified_date__range']:JSON.parse(saved2);
        // localStorage.setItem(stateSaveTagPrefix+'modified_date__range',JSON.stringify(stateSaveFilters['modified_date__range']));
        $(document).on('click','.daterange.notset',function(e){
            $(this).removeClass('notset');
            $(this).daterangepicker({
                // startDate: moment(stateSaveFilters['modified_date__range'][0]).format("DD/MM/YYYY"),
                // endDate: moment(stateSaveFilters['modified_date__range'][1]).format("DD/MM/YYYY"),
                startDate: moment().format("DD-MM-YYYY"),
                endDate: moment().format("DD-MM-YYYY"),
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                locale: {
                    format: 'DD/MM/YYYY'
                    },
                autoApply: false
                }, function (start, end, label) {
                    stateSaveFilters['modified_date__range'] = [];
                    stateSaveFilters['modified_date__range'][0] = start.format("YYYY-MM-DD")+' 00:00:00.000000';
                    stateSaveFilters['modified_date__range'][1] = end.format("YYYY-MM-DD")+' 23:59:59.999999';
                    // localStorage.setItem(stateSaveTagPrefix+'modified_date__range',JSON.stringify(stateSaveFilters['modified_date__range']));
                    });
                $(this).click();
                });
        
        $(document).on('keyup change','.version-report-input-tag[name="version__in"]',function(e){
            var name = $(this).attr("name");
            $(this).val($(this).val().replace(/\D/g, ''));
            stateSaveFilters['version__in'][parseInt($(this).attr('data-index'))] = $(this).val();
            localStorage.setItem(stateSaveTagPrefix+name,JSON.stringify(stateSaveFilters['version__in']));
            });
        $.ajax({
            url: '/api/v2/reports/versionindexcount/',
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            async: true, //displays data after loading the page
            processing: false,
            data: {},
            success: function (response) {
                if(response.count>0){
                    maxVersionCount = response.count;
                    }
                chkAndSetNumRange(true);
                },
            error: function (jqXHR, exception) {
                console.log(jqXHR.responseText)
                }
            });
        var pageDataX = {};
        var lastqData = null;
        function getVersions(qData={}){
            lastqData = JSON.parse(JSON.stringify(qData));
            $.ajax({
                url: '/api/v2/reports/versionreports/',
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                async: true, //displays data after loading the page
                processing: false,
                data: JSON.stringify(qData),
                beforeSend: function(request) {
                    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                    request.setRequestHeader("X-CSRFToken",$crf_token);
                    request.setRequestHeader("required", JSON.stringify([
                        'id',
                        'version',
                        'shot__id',
                        'shot__name',
                        'shot__sequence__id',
                        'shot__sequence__name',
                        'shot__sequence__project__id',
                        'shot__sequence__project__name',
                        'shot__task_type__id',
                        'shot__task_type__name',
                        'shot__artist__id',
                        'shot__artist__fullName',
                        'shot__artists__id',
                        'shot__artists__fullName',
                        'shot__supervisor__id',
                        'shot__supervisor__fullName',
                        'shot__team_lead__id',
                        'shot__team_lead__fullName',
                        'shot__hod__id',
                        'shot__hod__fullName',
                        'shot__location__id',
                        'shot__location__name',
                        'shot__version',
                        'shot__bid_days',
                        'shot__package_id',
                        'modified_date'
                        ]));
                    },
                success: function (response) {
                    cVTarget = null;
                    addReportVersion(null,true);
                    pageDataX = {};
                    $.each(response,function(x,e){
                        if(typeof pageDataX[e.version] == "undefined"){
                            pageDataX[e.version] = {
                                name: e.version,
                                shots: []
                                };
                            }
                        pageDataX[e.version].shots.push(JSON.parse(JSON.stringify(e)));
                        });
                    const ordered = Object.keys(pageDataX).sort().reduce(
                        (obj, key) => { 
                            obj[key] = pageDataX[key]; 
                            return obj;
                        }, 
                        {}
                        );
                    $.each(ordered,function(x,e){
                        addReportVersion(e);
                        });
                    // console.log(pageDataX);
                    },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.responseText)
                    }
                });
            }
        $(document).on('click','.run-filter',function(e){
            var qData = {shot__isSubShot:false};
            $.each(stateSaveFilters,function(k,v){
                if(['num_type','modified_date__range','version__in'].indexOf(k)!=-1){
                    if(k=='modified_date__range'){
                        qData[k] = v.join('|');
                        }else if(k=='version__in'){
                            /*
                            stateSaveFilters.num_type is
                            0: Range
                            1: Equal to
                            2: Greater than
                            3: Greater than or Equal to
                            4: Less than
                            5: Less than or Equal to
                            */
                            v[0] = parseInt(v[0]);
                            v[1] = parseInt(v[1]);
                            if((stateSaveFilters.num_type==0&&v[0]>0&&v[1]>0)||(stateSaveFilters.num_type!=0&&v[0]>0)){
                                v[0] = v[0] > maxVersionCount?maxVersionCount:v[0]
                                if(stateSaveFilters.num_type==0){
                                    v[1] = v[1] > maxVersionCount?maxVersionCount:v[1]
                                    }
                                var rx = [];
                                switch(parseInt(stateSaveFilters.num_type)) {
                                    case 1:
                                        qData[k] = genVNumbers(v[0],3);
                                        // code block
                                        break;
                                    case 2:
                                        for($i=v[0]+1;$i<=maxVersionCount;$i++){
                                            rx.push(genVNumbers($i,3));
                                            } 
                                        qData[k] = rx.join("|");
                                        // code block
                                        break;
                                    case 3:
                                        for($i=v[0];$i<=maxVersionCount;$i++){
                                            rx.push(genVNumbers($i,3));
                                            } 
                                        qData[k] = rx.join("|");
                                        // code block
                                        break;
                                    case 4:
                                        for($i=v[0]-1;$i>0;$i--){
                                            rx.push(genVNumbers($i,3));
                                            } 
                                        qData[k] = rx.join("|");
                                        // code block
                                        break;
                                    case 5:
                                        for($i=v[0];$i>0;$i--){
                                            rx.push(genVNumbers($i,3));
                                            } 
                                        qData[k] = rx.join("|");
                                        // code block
                                        break;
                                    default:
                                        for($i=v[0];$i<=v[1];$i++){
                                            rx.push(genVNumbers($i,3));
                                            } 
                                        qData[k] = rx.join("|");
                                        // code block
                                    }
                                }
                            }
                    }else if(v.length>0){
                        qData[k] = v;
                        }
                });
            if(typeof qData.shot__sequence__project__client__id != "undefined" && qData.shot__sequence__project__client__id.length>0){
                if(typeof qData.modified_date__range == 'undefined'){
                    Swal.fire({
                        title: 'Are you sure!',
                        html: "Would you like to get all dates versions?",
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#c7c7c7',
                        confirmButtonText: 'Yes, Get All',
                        cancelButtonText: "No, I'll Select Date"
                        }).then((result) => {
                            if(result.value){
                                getVersions(qData);
                                }
                            });
                    }else{
                        getVersions(qData);
                        }
                }
            });
        function header_vis(x) {
            x.classList.toggle("ti-angle-down");
            var s = document.getElementById("header_filter");
            if (s.style.display === "none") {
                s.style.display = "block";
                } else {
                    s.style.display = "none";
                    }
            }
        function search_column() {
            var input = document.getElementById("search_header");
            var filter = input.value.toLowerCase();
            var nodes = document.getElementsByClassName('custom-checkbox');
            for (i = 0; i < nodes.length; i++) {
                if (nodes[i].innerText.toLowerCase().includes(filter)) {
                    nodes[i].style.display = "block";
                    } else {
                        nodes[i].style.display = "none";
                        }
                }
            }
        $(document).on('click', 'input.toggle-vis', function(e){
            // Get the column API object
            var column = table.column($(this).attr('data-column'));
            // Toggle the visibility
            column.visible(!column.visible());
            });
        var tableParent = null, tableFilter = null, table = null;
        function clearTable(){
            $('.version-item').each(function(e){
                $(this).removeClass('col-md-3 col-md-6 col-md-2').addClass('col-md-2');
                });
            $(reportsTab).parent().removeClass('col-md-3 col-md-6 col-md-12').addClass('col-md-12');
            $(reportsTableTab).empty();
            $(reportsTableTab).attr('style','display:none;');
            $(reportsTableTab).removeClass('col-md-3 col-md-6 col-md-9').addClass('col-md-6');
            $(reportsTableTab).html(`<div class="row">
                <div class="col-md-12" id="shots_list_view">
                    <div class="card table-x-viewer"><table id="shots_table" class="table display no-wrap" style="width:100%"></table></div>
                </div>
                <div class="col-md-4 card" id="filter_div" style="display: none; height: min-content; overflow-y: auto;margin: 0px;">
                    <h6><i onclick="header_vis(this)" class="ti-angle-right"></i> Header Visibility</h6>
                    <div class="card" id="header_filter" style="display: none; height:200px; overflow-y: scroll; border-bottom: 1px solid #494848;border-radius: 0px">
                        <div class="card-body">
                            <input type="text" class="form-control column_vis" id="search_header" onkeyup="search_column()" placeholder="Search for...">
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="dtsp-verticalContainer">
                                <div class="dtsp-verticalPanes">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `);
            tableParent = $('.table-x-viewer');
            tableFilter = $('.dtsp-verticalPanes');
            table = null;
            }
        var cVTarget = null;
        
        var tableColms = [];
        tableColms.push({
            cell: {
                name: "shot",
                title: "SHOT CODE", data: 'shot.name',
                render: function (data, type, row, meta) {
                    var rowX = row.shot;
                    return (`<a style="color:#fff" class="viwe-shot-tab" href="#" data-href="/production/shots/view/?shot_id=`+rowX.id+`" >` + data + `</a>`);
                    },
                },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "project", title: "PROJECT", data: 'shot.sequence.project.name'},
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "seq", title: "SEQUENCE", data: 'shot.sequence.name'},
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "version", title: "VERSION", data: 'shot.version',
                render: function (data, type, row, meta) {
                    return (cVTarget!=data?`<div class="btn-group"><button type="button" class="btn" style="color:white;padding: 3px 16px;font-size:1em;background-color:#E3450B;">`+data+`</button></div>`:`<span style="width: 100%;display: block;margin: auto;text-align: center;">`+data+`</span>`);
                    },        
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "task_type", title: "TASK TYPE", data: 'shot.task_type.name'},
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "modified_date", title: "SUBMISSION DATE", data: null,
                    render: function (data, type, row, meta) {
                        var rowX = row.shot;
                        return data==null?'N/A':moment(data).format("YYYY-MM-DD");
                        }
                    },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                    name: "captain",
                    title: "CAPTAIN", data: null,
                    render: function (data, type, row, meta) {
                        var rowX = row.shot;
                        var iti = [];
                        $.each(rowX.artists,function(_z,_x){ iti.push(_x.fullName); });
                        return (`<img src="/media/profiles/photo/default.png" alt="`+(rowX.artist!=null?rowX.artist.fullName:'N/A')+`" title="`+(rowX.artist!=null?rowX.artist.fullName:'N/A')+`" onerror="this.src='/media/profiles/photo/default.png'" class="profile-pic" style="width: 20%;"><span title="`+(iti.length>0?iti.join('\n'):'N/A')+`">`+(rowX.artist!=null?rowX.artist.fullName:'N/A')+`</span>`);
                    },
                },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {
                name: "actual_bids",
                title: "ACTUAL BIDS",
                data: 'shot.bid_days',
                render: function (data, type, row, meta) {
                    return (data==null?"N/A":data.toFixed(2));
                    }
                },
            isETAFilter: false,
            isFilter: false,
            headerVisibility: true,
            visibility: true,
            class:"text-center",
            });
        tableColms.push({
            cell: {name: "supervisor", title: "SUPERVISOR", data: 'shot.supervisor',
                    render: function (data, type, row, meta) {
                        return data!=null?data.fullName:'N/A';
                        }
                    },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "team_lead", title: "TEAM LEAD", data: 'shot.team_lead',
                    render: function (data, type, row, meta) {
                        return data!=null?data.fullName:'N/A';
                        }
                    },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            }); 
        tableColms.push({
            cell: {name: "hod", title: "HOD", data: 'shot.hod',
                    render: function (data, type, row, meta) {
                        return data!=null?data.fullName:'N/A';
                        }
                    },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            }); 
        tableColms.push({
            cell: {name: "artist", title: "ARTIST", data: 'shot.artists',
                    render: function (data, type, row, meta) {
                        var rowX = row.shot;
                        var iti = [];
                        $.each(rowX.artists,function(_z,_x){ iti.push(_x.fullName); });
                        return iti.length>0?iti.join(', '):'N/A';
                        }
                    },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "package_id", title: "PACKAGE ID", data: 'shot.package_id',
                    render: function (data, type, row, meta) {
                        return data!=null?data:'N/A';
                        }
                    },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        tableColms.push({
            cell: {name: "location", title: "LOCATION", data: null,
                    render: function (data, type, row, meta) {
                        var rowX = row.shot;
                        return rowX.location==null?'GLOBAL':(typeof rowX.location.name != "undefined"? rowX.location.name:rowX.location);
                        }
                    },
            isETAFilter: false,
            isFilter: true,
            headerVisibility: true,
            visibility: true,
            class:"",
            });
        $(document).on("mouseover",'td > a.viwe-shot-tab[href="#"]',function(e){
            $(this).attr("href",$(this).attr("data-href"));
            });
        $(document).on("click",'.column_filter',function(e){
            var x = document.getElementById("filter_div");
            if (x.style.display === "none") {
                $('.version-item').each(function(e){
                    $(this).removeClass('col-md-3 col-md-6 col-md-2').addClass('col-md-6');
                    });
                $(reportsTab).parent().removeClass('col-md-3 col-md-6 col-md-12').addClass('col-md-3');
                $(reportsTableTab).removeClass('col-md-3 col-md-6 col-md-9').addClass('col-md-9');
                $(reportsTableTab).find('#shots_list_view').removeClass('col-md-12 col-md-8').addClass('col-md-8');
                x.style.display = "block";
                } else {
                    x.style.display = "none";
                    $('.version-item').each(function(e){
                        $(this).removeClass('col-md-3 col-md-6 col-md-2').addClass('col-md-3');
                        });
                    $(reportsTab).parent().removeClass('col-md-3 col-md-6 col-md-12').addClass('col-md-6');
                    $(reportsTableTab).removeClass('col-md-3 col-md-6 col-md-9').addClass('col-md-6');
                    $(reportsTableTab).find('#shots_list_view').removeClass('col-md-12 col-md-8').addClass('col-md-12');
                    }
            });
        var tableX = null;
        function setTable(_tData=[]){
            $.each(tableColms,function(z,e){
                var parent = $("#header_filter > .card-body");
                if(e.headerVisibility){
                    $(parent).append(`<div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input toggle-vis" id="`+e.cell.name+`" data-column="`+z+`" value="check" checked="">
                            <label class="custom-control-label" for="`+e.cell.name+`">`+e.cell.title+`</label>
                        </div>`);
                    }
                });
            artistId_arr = [];
            artistInfo_arr = {};
            tableX = $(`<table id="shots_table_t3350" class="table display no-wrap" style="width:100%"></table>`);
            $(tableParent).html('');
            $(tableFilter).html('');
            $(tableParent).append($('<div class="reload-table-row"></div>'));
            $(tableParent).append($(tableX));
            var cols = [], searchPanes = [], _addClass = [];
            $.each(tableColms,function(z,e){
                cols.push(e.cell);
                if(!e.isFilter){
                    searchPanes.push(parseInt(z));
                    }
                if(e.class.length>0){
                    _addClass.push({className: e.class, "targets": [parseInt(z)]});
                    }
                });
            console.log(tableColms);
            console.log("searchPanes",searchPanes);
            var columnDefs = [{
                searchPanes: {
                    show: false
                    },
                targets: searchPanes
                    }];
            $.each(_addClass,function(z,e){
                columnDefs.push(e);
                });
            table = $(tableX).DataTable({
                // initComplete: function (settings, json) {  
                //     $("#DataTableID").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
                //     },
                aaData: JSON.parse(JSON.stringify(_tData)),
                columnDefs: columnDefs,
                searchPanes: {
                    initCollapsed: true,
                    cascadePanes: true,
                    layout: 'columns-1',
                    controls: false
                    },
                dom: '<"dtsp-dataTable"frtip>',
                "searching": true,
                'language': {
                    'infoEmpty': "No records available - Please Select Department and Date Range to view data",
                    'loadingRecords': '&nbsp;',
                    'processing': 'Loading...'
                    },
                columns: cols,
                select: false,
                order: [[1, 'asc']],
                scrollResize: true,
                scrollX: true,
                scrollCollapse: true,
                buttons: ["pageLength"],
                dom: 'Bfrtip',
                lengthMenu:[
                    [10,25,50,100],
                    ['10','25','50','100'],
                    ],
                "paging": true,
                "pageLength": 25,
                "bSortClasses": false,
                stateSave: true,
                deferLoading: 10,
                });
            table.searchPanes();
            $.each(tableColms,function(z,e){
                if(!e.visibility){
                    var column = table.column(z);
                    column.visible(0);
                    }
                });
            $(tableFilter).append(table.searchPanes.container());
            $(tableParent).find('.dt-buttons').prepend(`<button class="column_filter dt-button" title="Filters" data-toggle="button" aria-pressed="false"><i class="mdi mdi-filter"></i> Filters</button>`);
            $.each(tableColms,function(z,e){
                var column = table.column(z);
                $('input.toggle-vis[data-column="'+z+'"]').attr('checked',column.visible());
                });
            setTimeout(function () {
                table.columns.adjust().draw();
                }, 1);
            }
        $(document).on('click','.view-shot-version',function(e){
            $('.view-shot-version').each(function(){
                $(this).removeClass('active');
                });
            clearTable();
            if(cVTarget != $(this).attr('data-target')){
                $(this).addClass('active');
                cVTarget = $(this).attr('data-target');
                setTable(JSON.parse(JSON.stringify(pageDataX[cVTarget].shots)));
                $(reportsTab).parent().removeClass('col-md-3 col-md-6 col-md-12').addClass('col-md-6');
                $(reportsTableTab).attr('style','');
                $(reportsTableTab).removeClass('col-md-3 col-md-6 col-md-9').addClass('col-md-6');
                $('.version-item').each(function(e){
                    $(this).removeClass('col-md-3 col-md-6 col-md-2').addClass('col-md-3');
                    });
                }else{
                    cVTarget = null;
                    }
            return false;
            });
        $(document).on('click','.export-to-excel',function(e){
            var vers = $(this).hasClass('only-this')?$(this).attr('data-target'):null;
            if(lastqData!=null){
                var exportQ = [];
                $.each(lastqData,function(x,e){
                    exportQ.push(`<input name="`+x+`" value="`+((x=='version__in'&&vers!=null)?vers:e)+`"/>`);
                    });
                if(typeof lastqData['version__in'] == "undefined"&&vers!=null){
                    exportQ.push(`<input name="version__in" value="`+vers+`"/>`);
                    }
                if(vers!=null){
                    exportQ.push(`<input name="onlyOne" value="true"/>`);
                    }
                var from = $(`<form action="/production/export/versionreport/" method="POST" target="_blank" style="display:none;">
                    {% csrf_token %}
                    `+exportQ.join('')+`
                    </form>`);
                $('body').append(from);
                $(from).submit();
                $(from).remove();
                }else{
                    alert("Invalid export request")
                    } 
            });
    </script>
{% endblock page_scripts %}